openapi: 3.0.2
info:
  version: 1.0.0
  title: Actions
  termsOfService: "https://docs.looplex.com.br/legal/termos-de-uso"
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: "https://www.looplex.com.br"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo: 
    url: "/assets/images/logo.png"
    href: "/"
  description: >
servers:
  - url: "https://apim.looplex.com/actions/v1"
    description: Actions Server
tags:
  - name: Actions
    description: Actions operations
  - name: Code
    description: Code operations
paths:
  /aspose:
    post:
      $ref: ./paths/actions/aspose.yaml
  /code/:id:
    post:
      $ref: ./paths/actions/code/code@{id}-post.yaml
    put:
        $ref: ./paths/actions/code/code@{id}-put.yaml
    get:
        $ref: ./paths/actions/code/code@{id}-get.yaml
    delete:
        $ref: ./paths/actions/code/code@{id}-delete.yaml
  /office-render:
    post: 
        $ref: ./paths/actions/office-render.yaml
  /dictionary-lookup:
    post: 
      $ref:  ./paths/actions/dictionary-lookup.yaml
  /echo:
    post:
      $ref:  ./paths/actions/echo.yaml
  /keyvault:
    get:
      $ref: ./paths/actions/keyvault.yaml
  /oauth2-pkce-pair:
    post: 
      $ref: ./paths/actions/oauth2-pkce-pair.yaml
  /qrcode:
    post: 
      $ref: ./paths/actions/qrcode.yaml
  /spellcheck:
    post: 
      $ref: ./paths/actions/spellcheck.yaml
  /mustache-render:
    post: 
      $ref: ./paths/actions/mustache-render.yaml
  /text-recognize:
    post:
      $ref: ./paths/actions/text-recognize.yaml
           
components:
  securitySchemes:
    Subscription-Key:
      $ref: ./components/securitySchemes/ocp_apim_subscription_key.yaml
security:
  -  Subscription-Key: []
    
  
