# https://redocly.com/docs/openapi-visual-reference/info/
openapi: 3.0.2
security: 
  - Ocp-Apim-Subscription-Key: []
info:
  version: 1.0.0
  title: Looplex Cases
  termsOfService: "https://docs.looplex.com.br/legal/termos-de-uso"
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: "https://www.looplex.com.br"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "/assets/images/logo.png"
    href: "/"
  description: >
    This is an **example** API to demonstrate features of OpenAPI specification

    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in 

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: "https://github.com/Rebilly/generator-openapi-repo"
servers:
  - url: "https://graph.looplex.com/cases"
    description: "Looplex Cases Server"
paths:
  # Autenticação
  /api/logon:
    post:
      $ref: ./paths/cases/login/public@api@logon-post.yaml
  # /api/session:
  #   post:
  #     $ref: ./paths/cases/login/public@api@session-post.yaml
      
  # Agenda
  /api/agenda/totaleventos:
    get:
      $ref: ./paths/cases/agenda/public@api@agenda@totaleventos-get.yaml
  /api/agenda/proximoslancamentos:
    get:
      $ref: ./paths/cases/agenda/public@api@agenda@proximos-lancamentos-get.yaml
  /api/agenda:
    get:
      $ref: ./paths/cases/agenda/public@api@agenda-get.yaml
    post:
      $ref: ./paths/cases/agenda/public@api@agenda@post-post.yaml
    put:
      $ref: ./paths/cases/agenda/public@api@agenda@put-put.yaml
  /api/casos/{idCaso}/agenda:
    get:
      $ref: ./paths/cases/agenda/public@api@casos@{idCaso}@agenda-get.yaml
  /api/agenda/{tipo}/{id}:
    delete:
      $ref: ./paths/cases/agenda/public@api@agenda@{tipo}@{id}-delete.yaml
  /api/agenda/executores:
    get:
      $ref: ./paths/cases/agenda/public@api@agenda@executores-get.yaml
  /api/agenda/participantes:
    get:
      $ref: ./paths/cases/agenda/public@api@agenda@participantes-get.yaml
  /api/agenda/titulos:
    get:
      $ref: ./paths/cases/agenda/public@api@agenda@titulos-get.yaml
  /api/casos/{idCaso}/audiencias:
    get:
      $ref: ./paths/cases/agenda/public@api@casos@{idCaso}@audiencias-get.yaml
  /api/casos/num/audiencias:
    get:
      $ref: ./paths/cases/agenda/public@api@casos@num@audiencias-get.yaml
  /api/casos/{idCaso}/tabagenda:
    get: 
      $ref: ./paths/cases/agenda/public@api@casos@{idCaso}@tabagenda-get.yaml
  /api/casos/num/tabagenda:
    get:
      $ref: ./paths/cases/agenda/public@api@casos@num@tabagenda-get.yaml
  /api/compromissos:
    get:
      $ref: './paths/cases/agenda/public@api@compromissos-get.yaml'
  # /api/agenda/{id}/{tipo}:
  #   get:
  #     $ref: './paths/cases/agenda/public@api@agenda@id@tipo-get.yaml'
  /api/agenda/status_encerramento:
    get:
      $ref: './paths/cases/agenda/public@api@agenda@status_encerramento-get.yaml'

  # Andamentos
  /api/andamentos/templates:
    get:
      $ref: ./paths/cases/andamento/public@api@andamentos@templates-get.yaml
  /api/andamentos/classificacoes:
    get:
      $ref: ./paths/cases/andamento/public@api@andamentos@classificacoes-get.yaml
  /api/casos/{IDCaso}/andamentosimples:
    get:
      $ref: ./paths/cases/andamento/public@api@casos@{idCaso}@andamentosimples-get.yaml
  /api/casos/num/andamentosimples:
    get:
      $ref: ./paths/cases/andamento/public@api@casos@num@andamentosimples-get.yaml
  /api/andamentos:
    post:
      $ref: ./paths/cases/andamento/public@api@andamentos@post-post.yaml
  /api/andamentos/{IDAndamento}:
    get:
      $ref: ./paths/cases/andamento/public@api@andamentos@{id}-get.yaml
    put:
      $ref: ./paths/cases/andamento/public@api@andamentos@{idAndamento}@put-put.yaml
    delete:
      $ref: ./paths/cases/andamento/public@api@andamentos@{idAndamento}@delete-delete.yaml
  /api/andamentos/update/{IDAndamento}:
    put:
      $ref: ./paths/cases/andamento/public@api@andamentos@update@{idAndamento}-put.yaml

  # Áreas
  /api/areas:
    get:
      $ref: ./paths/cases/area/public@api@areas@get-get.yaml
  /api/areas/{id}:
    get:
      $ref: ./paths/cases/area/public@api@areas@{id}@get-get.yaml

  # Busca
  /api/busca/mobilenovo:
    get:
      $ref: './paths/cases/busca/public@api@busca@mobilenovo-get.yaml'

  # Calculo Monetário
  /api/casos/{IDCaso}/CalculosMonetarios:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@casos@cdProcesso@CalculosMonetarios-get.yaml'
  /api/CalculoMonetario/{ID}:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@id-get.yaml'
    delete:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@id-delete.yaml'
  /api/casos/{ID}/Calcula:
    post:
      $ref: './paths/cases/calculo_monetario/public@api@casos@id@Calcula-post.yaml'
  /api/CalculoMonetario/Indices:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@Indices-get.yaml'
  /api/CalculoMonetario/Modelos:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@Modelos-get.yaml'
  /api/CalculoMonetario/Modelos/{ID}:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@Modelos@id-get.yaml'
  /api/casos/{IDCaso}/ValoresParaCalculo:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@casos@id@ValoresParaCalculo-get.yaml'

  # Casos
  /api/casos/inclui:
    post:
      $ref: ./paths/cases/casos/public@api@casos@inclui-post.yaml
  /api/clientes/{idCliente}/casos:
    get:
      $ref: ./paths/cases/casos/public@api@clientes@{idCliente}@casos-get.yaml
  /api/clientes/{idCliente}/pastas:
    get:
      $ref: ./paths/cases/casos/public@api@clientes@{idCliente}@pastas-get.yaml
  /api/casos/{idCliente}/pastasDoCaso:
    get:
      $ref: ./paths/cases/casos/public@api@casos@{idCliente}@pastasDoCaso-get.yaml
  /api/casos/{id}:
    get:
      $ref: ./paths/cases/casos/public@api@casos@{id}-get.yaml
  /api/casos/{id}/ficha:
    get: 
      $ref: ./paths/cases/casos/public@api@casos@{id}@ficha-get.yaml
  /api/casos/id/ficha/num:
    get:
      $ref: ./paths/cases/casos/public@api@casos@id@ficha@num-get.yaml
  /api/casos/meuscasos/{cdResponsavel}:
    get:
      $ref: ./paths/cases/casos/public@api@casos@meuscasos@{cdResponsavel}-get.yaml
  /api/casos/RamosJudiciais:
    get:
      $ref: ./paths/cases/casos/public@api@casos@RamosJudiciais-get.yaml
  /api/casos:
    get:
      $ref: ./paths/cases/casos/public@api@casos-get.yaml
  /api/casos/id/num:
    get:
      $ref: ./paths/cases/casos/public@api@casos@id@num-get.yaml
  /api/casos/porIds/{ids}:
    get:
      $ref: ./paths/cases/casos/public@api@casos@porIds@{ids}-get.yaml
  /api/casos/num:
    get:
      $ref: ./paths/cases/casos/public@api@casos@num-get.yaml
  /api/casos/busca:
    get:
      $ref: ./paths/cases/casos/public@api@casos@busca-get.yaml
  /api/casos/edit:
    put:
      $ref: ./paths/cases/casos/public@api@casos@edit-put.yaml
  /api/casos/listacasos:
    get:
      $ref: ./paths/cases/casos/public@api@casos@listacasos-get.yaml
  /api/casos/subcasos/{cdProcessoPai}:
    get:
      $ref: './paths/cases/casos/public@api@casos@subcasos@cdProcessoPai-get.yaml'
  /api/casos/editadosrecentemente:
    get:
      $ref: './paths/cases/casos/public@api@casos@editadosrecentemente-get.yaml'

  # Categoria
  /api/escritorios/{IdEscritorio},{intfiltroCategoria}/categoriaspreco:
    get:
      $ref: ./paths/cases/categoria/public@api@escritorios@{IdEscritorio}@{intfiltroCategoria}@categoriaspreco-get.yaml
  /api/escritorios/{IdEscritorio}/categoriaspreco:
    get:
      $ref: ./paths/cases/categoria/public@api@escritorios@{IdEscritorio}@categoriaspreco-get.yaml
  /api/funcionarios/{IdsMin},{IdsMax}/categorias:
    get:
      $ref: ./paths/cases/categoria/public@api@funcionarios@IdsMin@IdsMax@categorias-get.yaml

  # Cliente
  /api/clientes/todos:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@todos-get.yaml
  /api/clientes:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes-get.yaml
  /api/clientes/enderecos:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@enderecos-get.yaml
  /api/clientes/porDomain/{domain}:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@porDomain@domain-get.yaml
  /api/clientes/ficha:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@ficha-get.yaml
  /api/clientes/ficha_mobile:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@ficha@mobile-get.yaml
  /api/clientes/mobile:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@mobile-get.yaml
  /api/clientes/{id}:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@{id}-get.yaml
  /api/clientes/porIds/{idsClientes}:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@porIds@{idsClientes}-get.yaml
  /api/clientes/{idCliente}/pasta:
    get:
      $ref: ./paths/cases/cliente/public@api@clientes@{idCliente}@pasta-get.yaml

  # Contatos
  /api/contatos/{IDContato}:
    get:
      $ref: ./paths/cases/contato/public@api@contatos@{id}-get.yaml
  /api/contatos:
    get:
      $ref: ./paths/cases/contato/public@api@contatos-get.yaml
  /api/clientes/{IDCliente}/contatos:
    get:
      $ref: ./paths/cases/contato/public@api@clientes@{idCliente}@contatos-get.yaml
  /api/contatos/solicitantes:
    get:
      $ref: ./paths/cases/contato/public@api@contatos@solicitantes-get.yaml

  # Contrato
  /api/contratos/{IDContrato}:
    get:
      $ref: ./paths/cases/contrato/public@api@contratos@{id}-get.yaml
  /api/clientes/{IDCliente}/contratos:
    get:
      $ref: ./paths/cases/contrato/public@api@clientes@{idCliente}@contratos-get.yaml
  /api/contratos/{IDCliente}/contratosCliente:
    get:
      $ref: ./paths/cases/contrato/public@api@contratos@{idCliente}@contratosCliente-get.yaml
  /api/casos/{IDCaso}/contratosimples:
    get:
      $ref: ./paths/cases/contrato/public@api@casos@{idCaso}@contratosimples-get.yaml
  /api/contratos:
    get:
      $ref: ./paths/cases/contrato/public@api@contratos-get.yaml

  # Informações adicionais
  /api/dado_complementar/{IDParametroDadoComplementar}:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@id-get.yaml'
    delete:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@id-delete.yaml'
  /api/dado_complementar/todos:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@todos-get.yaml'
  /api/dado_complementar_caso:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar_caso-get.yaml'
  /api/dado_complementar_caso/{tipoCaso}:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar_caso@tipoCaso-get.yaml'
  /api/casos/{idCaso}/DadosComplementaresPorCaso:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@casos@idCaso@DadosComplementaresPorCaso-get.yaml'
  /api/casos/num/dadoscomplementares:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@casos@num@dadoscomplementares-get.yaml'
  /api/dado_complementar:
    post:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar-post.yaml'
    put:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar-put.yaml'
  /api/dado_complementar/edit:
    put:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@edit-put.yaml'

  # Informações adicionais (Valor)
  /api/dado_complementar/valor:
    post:
      $ref: './paths/cases/informacoes_adicionais_valor/public@api@dado_complementar@valor-post.yaml'

  # Decisões
  /api/casos/{idCaso}/Decisoes:
    get:
      $ref: './paths/cases/decisoes/public@api@casos@idCaso@Decisoes-get.yaml'
  /api/casos/num/decisoes:
    get:
      $ref: './paths/cases/decisoes/public@api@casos@num@decisoes-get.yaml'
  /api/Decisoes/tipos:
    get:
      $ref: './paths/cases/decisoes/public@api@Decisoes@tipos-get.yaml'
  /api/Decisoes:
    post:
      $ref: './paths/cases/decisoes/public@api@Decisoes-post.yaml'
  /api/Decisoes/{id}:
    get:
      $ref: './paths/cases/decisoes/public@api@Decisoes@id-get.yaml'
    put:
      $ref: './paths/cases/decisoes/public@api@Decisoes@id-put.yaml'
  /api/casos/{idCaso}/DecisoesComValores:
    get:
      $ref: './paths/cases/decisoes/public@api@casos@idCaso@DecisoesComValores-get.yaml'
  # /api/Decisoes/{idProcessoDecisao}:
  #   delete:
  #     $ref: './paths/cases/decisoes/public@api@Decisoes@idProcessoDecisao-delete.yaml'

  # Despesas
  /api/despesas/totaldespesasmes:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@totaldespesasmes-get.yaml'
  /api/despesas/proximoslancamentos:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@proximoslancamentos-get.yaml'
  /api/despesas/adiantamentosliberados:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@adiantamentosliberados-get.yaml'
  /api/despesas/adiantamentos/categorias:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@adiantamentos@categorias-get.yaml'
  /api/despesas/adiantamentos/fornecedores:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@adiantamentos@fornecedores-get.yaml'
  /api/despesas/reembolsos/categorias:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@reembolsos@categorias-get.yaml'
  /api/despesas/reembolsos/fornecedores:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@reembolsos@fornecedores-get.yaml'
  /api/despesas/voucher:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@voucher-get.yaml'
  /api/despesas/voucher/{idVoucher}/categorias:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@voucher@idVoucher@categorias-get.yaml'
  /api/despesas/voucher/{idVoucher}/fornecedores:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@voucher@idVoucher@fornecedores-get.yaml'
  /api/despesas/obtem:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@obtem-get.yaml'
  /api/despesas/obtem/{id}:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@obtem@id-get.yaml'
  /api/despesas/inclui:
    post:
      $ref: './paths/cases/despesa/public@api@despesas@inclui-post.yaml'
  /api/despesas/atualiza:
    put:
      $ref: './paths/cases/despesa/public@api@despesas@atualiza-put.yaml'
  /api/despesas/exclui/{id}:
    delete:
      $ref: './paths/cases/despesa/public@api@despesas@exclui@id-delete.yaml'
  /api/despesas/valorKMRodado:
    get:
      $ref: './paths/cases/despesa/public@api@despesas@valorKMRodado-get.yaml'

  # Expectativa reivindicação
  /api/casos/{idCaso}/Valores:
    get:
      $ref: './paths/cases/expectativa_reivindicacao/public@api@casos@idCaso@Valores-get.yaml'
  /api/casos/{idCaso}/PedidosComHistorico:
    get:
      $ref: './paths/cases/expectativa_reivindicacao/public@api@casos@idCaso@PedidosComHistorico-get.yaml'
  /api/expectativa/valores/{idCaso}:
    get:
      $ref: './paths/cases/expectativa_reivindicacao/public@api@expectativa@valores@idCaso-get.yaml'

  # Fase
  /api/fase:
    get:
      $ref: './paths/cases/fase_caso/public@api@fase-get.yaml'
  /api/casos/fase/{nrGrupo}:
    get:
      $ref: ./paths/cases/fase_caso/public@api@casos@fase@{nrGrupo}-get.yaml
  /api/casos/{nrSequencia}/fase:
    get:
      $ref: ./paths/cases/fase_caso/public@api@casos@{nrSequencia}@fase-get.yaml
  /api/casos/num/fase:
    get:
      $ref: ./paths/cases/fase_caso/public@api@casos@num@fase-get.yaml

  # Funcionários
  

  # Garantia
  

  # Hierarquia
  /api/hierarquia/ritos:
    get: 
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@ritos-get.yaml
  /api/hierarquia/tipos:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@tipos-get.yaml
  /api/hierarquia/regioes:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@regioes-get.yaml
  /api/hierarquia/GrupoForoPorTipo:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@grupoforoportipo-get.yaml
  /api/hierarquia/GrupoForo:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@grupoforo-get.yaml
  /api/hierarquia/GrupoForoSuperiores:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@grupoforosuperiores-get.yaml
  /api/hierarquia/GrupoForoDetalhado:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@GrupoForoDetalhado-get.yaml
  /api/hierarquia/UFPorRegiao:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@UFPorRegiao-get.yaml
  /api/hierarquia/fases:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@fases-get.yaml

  # Natureza
  /api/casos/{idCaso}/natureza:
    get:
      $ref: './paths/cases/natureza/public@api@casos@idCaso@natureza-get.yaml'
  /api/casos/num/natureza:
    get:
      $ref: './paths/cases/natureza/public@api@casos@num@natureza-get.yaml'

  # País
  /api/pais:
    get:
      $ref: ./paths/cases/pais/public@api@pais-get.yaml
  /api/pais/uf:
    get:
      $ref: ./paths/cases/pais/public@api@pais@uf-get.yaml
  /api/pais/cidades:
    get:
      $ref: ./paths/cases/pais/public@api@pais@cidades-get.yaml

  # Parte
  /api/Partes:
    get:
      $ref: ./paths/cases/partes/public@api@partes-get.yaml
  /api/casos/{idCaso}/Partes:
    get:
      $ref: ./paths/cases/partes/public@api@casos@idCaso@partes-get.yaml
  /api/parte:
    post:
      $ref: ./paths/cases/partes/public@api@parte@post-post.yaml
  /api/partes/desvincular:
    post:
      $ref: ./paths/cases/partes/public@api@partes@desvincular-post.yaml

  # Parte Papel (Envolvimento das partes)
  /api/envolvimentos":
    get:
      $ref: ./paths/cases/parte_papel/public@api@envolvimentos-get.yaml

  # Pedidos
  /api/casos/{IDCaso}/Pedidos:
    get:
      $ref: './paths/cases/pedidos/public@api@casos@idCaso@Pedidos-get.yaml'
    post:
      $ref: './paths/cases/pedidos/public@api@casos@IDCaso@pedidos-post.yaml'
  /api/casos/num/pedidos:
    get:
      $ref: './paths/cases/pedidos/public@api@casos@num@pedidos-get.yaml'
  /api/Pedidos/possiveisStatus:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@possiveisStatus-get.yaml'    
  /api/Pedidos/possiveisExitos:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@possiveisExitos-get.yaml'
  /api/Pedidos/lista:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@lista-get.yaml'
  /api/Pedidos/causas:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@causas-get.yaml'
  /api/casos/Pedidos/{IDCasoPedido}/IdsGarantias:
    get:
      $ref: './paths/cases/pedidos/public@api@casos@Pedidos@IDCasoPedido@IdsGarantias-get.yaml'

  # Push
  /api/push/publicacoes:
    get:
      $ref: './paths/cases/push/public@api@push@publicacoes-get.yaml'

  # Tabela de preço
  /api/escritorios/{idEscritorio}/tabelaspreco:
    get:
      $ref: './paths/cases/tabela_preco/public@api@escritorios@idEscritorio@tabelaspreco-get.yaml'

  # Tabela preço categoria
  /api/escritorios/{idEscritorio}/tabelasprecocategoria:
    get:
      $ref: './paths/cases/tabela_preco_categoria/public@api@escritorios@idEscritorio@tabelasprecocategoria-get.yaml'

  # Tarefa
  /api/casos/tarefas/{cdProcesso}/{ignoraIdFuncionario}/{filtro}:
    get:
      $ref: './paths/cases/tarefa/public@api@casos@tarefas@cdProcesso@ignoraIdFuncionario@filtro-get.yaml'

  # Timeline
  /api/timeline/items:
    get:
      $ref: './paths/cases/timeline/public@api@timeline@items-get.yaml'

  # Timesheet
  /api/timesheet/totalhoras:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@totalhoras-get.yaml'
  /api/timesheet/proximoslancamentos:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@proximoslancamentos-get.yaml'
  /api/timesheet/activitycodes:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@activitycodes-get.yaml'
  /api/timesheet/taskcodes:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@taskcodes-get.yaml'
  /api/timesheet/listaporperiodo:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@listaporperiodo-get.yaml'
  /api/timesheet/obtemmaisrecente:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@obtemmaisrecente-get.yaml'
  /api/timesheet/obtem:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@obtem-get.yaml'
  /api/timesheet/funcionarios/{idFuncionario}/areas:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@funcionarios@idFuncionario@areas-get.yaml'
  /api/timesheet/areas/{idArea}/titulos:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@areas@idArea@titulos-get.yaml'
  /api/timesheet/funcionarios:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@funcionarios-get.yaml'
  /api/timesheet/funcionarios/permissaolcto/{idFuncionario}:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@funcionarios@permissaolcto@idFuncionario-get.yaml'
  /api/timesheet/classificacoes:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@classificacoes-get.yaml'
  /api/casos/{idCaso}/timesheet:
    get:
      $ref: './paths/cases/timesheet/public@api@casos@idCaso@timesheet-get.yaml'
  /api/timesheet/caso/{idCaso}:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@caso@idCaso-get.yaml'
  /api/timesheet/obtem/{id}:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@obtem@id-get.yaml'
  /api/timesheet/inclui:
    post:
      $ref: './paths/cases/timesheet/public@api@timesheet@inclui-post.yaml'
  /api/timesheet/incluiWeb:
    post:
      $ref: './paths/cases/timesheet/public@api@timesheet@incluiWeb-post.yaml'
  /api/timesheet/atualizaWeb:
    put:
      $ref: './paths/cases/timesheet/public@api@timesheet@atualizaWeb-put.yaml'
  /api/timesheet/atualiza:
    put:
      $ref: './paths/cases/timesheet/public@api@timesheet@atualiza-put.yaml'
  /api/timesheet/exclui/{id}:
    delete:
      $ref: './paths/cases/timesheet/public@api@timesheet@exclui@id-delete.yaml'
  /api/timesheet/limiteMinimo:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@limiteMinimo-get.yaml'
  /api/timesheet/arredondamento:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet@arredondamento-get.yaml'
  /api/timesheet:
    get:
      $ref: './paths/cases/timesheet/public@api@timesheet-get.yaml'

  # Valores apurados
  /api/casos/{idCaso}/valoresapurados:
    get:
      $ref: './paths/cases/valores_apurados/public@api@casos@idCaso@valoresapurados-get.yaml'
  /api/casos/num/valoresapurados:
    get:
      $ref: './paths/cases/valores_apurados/public@api@casos@num@valoresapurados-get.yaml'

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
    Ocp-Apim-Subscription-Key:
      type: apiKey
      in: header
      description: "Subscription key provided by Looplex"
      name: Ocp-Apim-Subscription-Key
    auth_token:
      type: apiKey
      in: header
      name: auth_token
    basic_auth:
      type: http
      scheme: basic
    
