# https://redocly.com/docs/openapi-visual-reference/info/
openapi: 3.0.2
security: 
  - Ocp-Apim-Subscription-Key: []
info:
  version: 1.0.0
  title: Looplex Cases
  termsOfService: "https://docs.looplex.com.br/legal/termos-de-uso"
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: "https://www.looplex.com.br"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "/assets/images/logo.png"
    href: "/"
  description: >
    This is an **example** API to demonstrate features of OpenAPI specification

    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in 

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: "https://github.com/Rebilly/generator-openapi-repo"
servers:
  - url: "https://graph.looplex.com/cases"
    description: "Looplex Cases Server"
paths:
  
  # Autenticação
  /api/logon:
    post:
      $ref: ./paths/cases/login/public@api@logon-post.yaml
      
  # Agenda
  

  # Andamentos
  /api/andamentos/templates:
    get:
      $ref: ./paths/cases/andamento/public@api@andamentos@templates-get.yaml
  /api/andamentos/classificacoes:
    get:
      $ref: ./paths/cases/andamento/public@api@andamentos@classificacoes-get.yaml
  /api/casos/{IDCaso}/andamentosimples:
    get:
      $ref: ./paths/cases/andamento/public@api@casos@{idCaso}@andamentosimples-get.yaml
  /api/casos/num/andamentosimples:
    get:
      $ref: ./paths/cases/andamento/public@api@casos@num@andamentosimples-get.yaml
  /api/andamentos:
    post:
      $ref: ./paths/cases/andamento/public@api@andamentos@post-post.yaml
  /api/andamentos/{IDAndamento}:
    get:
      $ref: ./paths/cases/andamento/public@api@andamentos@{id}-get.yaml
    put:
      $ref: ./paths/cases/andamento/public@api@andamentos@{idAndamento}@put-put.yaml
    delete:
      $ref: ./paths/cases/andamento/public@api@andamentos@{idAndamento}@delete-delete.yaml
  /api/andamentos/update/{IDAndamento}:
    put:
      $ref: ./paths/cases/andamento/public@api@andamentos@update@{idAndamento}-put.yaml

  # Áreas
  /api/areas:
    get:
      $ref: ./paths/cases/area/public@api@areas@get-get.yaml
  /api/areas/{id}:
    get:
      $ref: ./paths/cases/area/public@api@areas@{id}@get-get.yaml

  # Busca
  /api/busca/mobilenovo:
    get:
      $ref: './paths/cases/busca/public@api@busca@mobilenovo-get.yaml'

  # Calculo Monetário
  /api/casos/{IDCaso}/CalculosMonetarios:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@casos@cdProcesso@CalculosMonetarios-get.yaml'
  /api/CalculoMonetario/{ID}:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@id-get.yaml'
    delete:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@id-delete.yaml'
  /api/casos/{ID}/Calcula:
    post:
      $ref: './paths/cases/calculo_monetario/public@api@casos@id@Calcula-post.yaml'
  /api/CalculoMonetario/Indices:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@Indices-get.yaml'
  /api/CalculoMonetario/Modelos:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@Modelos-get.yaml'
  /api/CalculoMonetario/Modelos/{ID}:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@CalculoMonetario@Modelos@id-get.yaml'
  /api/casos/{IDCaso}/ValoresParaCalculo:
    get:
      $ref: './paths/cases/calculo_monetario/public@api@casos@id@ValoresParaCalculo-get.yaml'

  # Caso + Fase caso
  

  # Categoria
  /api/escritorios/{IdEscritorio},{intfiltroCategoria}/categoriaspreco:
    get:
      $ref: ./paths/cases/categoria/public@api@escritorios@{IdEscritorio}@{intfiltroCategoria}@categoriaspreco-get.yaml
  /api/escritorios/{IdEscritorio}/categoriaspreco:
    get:
      $ref: ./paths/cases/categoria/public@api@escritorios@{IdEscritorio}@categoriaspreco-get.yaml
  /api/funcionarios/{IdsMin},{IdsMax}/categorias:
    get:
      $ref: ./paths/cases/categoria/public@api@funcionarios@IdsMin@IdsMax@categorias-get.yaml

  # Cliente
  

  # Contatos
  /api/contatos/{IDContato}:
    get:
      $ref: ./paths/cases/contato/public@api@contatos@{id}-get.yaml
  /api/contatos:
    get:
      $ref: ./paths/cases/contato/public@api@contatos-get.yaml
  /api/clientes/{IDCliente}/contatos:
    get:
      $ref: ./paths/cases/contato/public@api@clientes@{idCliente}@contatos-get.yaml
  /api/contatos/solicitantes:
    get:
      $ref: ./paths/cases/contato/public@api@contatos@solicitantes-get.yaml

  # Contrato
  /api/contratos/{IDContrato}:
    get:
      $ref: ./paths/cases/contrato/public@api@contratos@{id}-get.yaml
  /api/clientes/{IDCliente}/contratos:
    get:
      $ref: ./paths/cases/contrato/public@api@clientes@{idCliente}@contratos-get.yaml
  /api/contratos/{IDCliente}/contratosCliente:
    get:
      $ref: ./paths/cases/contrato/public@api@contratos@{idCliente}@contratosCliente-get.yaml
  /api/casos/{IDCaso}/contratosimples:
    get:
      $ref: ./paths/cases/contrato/public@api@casos@{idCaso}@contratosimples-get.yaml
  /api/contratos:
    get:
      $ref: ./paths/cases/contrato/public@api@contratos-get.yaml

  # Informações adicionais
  /api/dado_complementar/{IDParametroDadoComplementar}:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@id-get.yaml'
    delete:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@id-delete.yaml'
  /api/dado_complementar/todos:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@todos-get.yaml'
  /api/dado_complementar_caso:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar_caso-get.yaml'
  /api/dado_complementar_caso/{tipoCaso}:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar_caso@tipoCaso-get.yaml'
  /api/casos/{idCaso}/DadosComplementaresPorCaso:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@casos@idCaso@DadosComplementaresPorCaso-get.yaml'
  /api/casos/num/dadoscomplementares:
    get:
      $ref: './paths/cases/informacoes_adicionais/public@api@casos@num@dadoscomplementares-get.yaml'
  /api/dado_complementar:
    post:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar-post.yaml'
    put:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar-put.yaml'
  /api/dado_complementar/edit:
    put:
      $ref: './paths/cases/informacoes_adicionais/public@api@dado_complementar@edit-put.yaml'

  # Informações adicionais (Valor)
  /api/dado_complementar/valor:
    post:
      $ref: './paths/cases/informacoes_adicionais_valor/public@api@dado_complementar@valor-post.yaml'

  # Decisões
  

  # Despesas
  

  # Expectativa reivindicação
  /api/casos/{idCaso}/Valores:
    get:
      $ref: './paths/cases/expectativa_reivindicacao/public@api@casos@idCaso@Valores-get.yaml'
  /api/casos/{idCaso}/PedidosComHistorico:
    get:
      $ref: './paths/cases/expectativa_reivindicacao/public@api@casos@idCaso@PedidosComHistorico-get.yaml'
  /api/expectativa/valores/{idCaso}:
    get:
      $ref: './paths/cases/expectativa_reivindicacao/public@api@expectativa@valores@idCaso-get.yaml'

  # Funcionários
  

  # Garantia
  

  # Hierarquia
  /api/hierarquia/ritos:
    get: 
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@ritos-get.yaml
  /api/hierarquia/tipos:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@tipos-get.yaml
  /api/hierarquia/regioes:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@regioes-get.yaml
  /api/hierarquia/GrupoForoPorTipo:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@grupoforoportipo-get.yaml
  /api/hierarquia/GrupoForo:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@grupoforo-get.yaml
  /api/hierarquia/GrupoForoSuperiores:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@grupoforosuperiores-get.yaml
  /api/hierarquia/GrupoForoDetalhado:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@GrupoForoDetalhado-get.yaml
  /api/hierarquia/UFPorRegiao:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@UFPorRegiao-get.yaml
  /api/hierarquia/fases:
    get:
      $ref: ./paths/cases/hierarquia/public@api@hierarquia@fases-get.yaml

  # Natureza
  

  # País
  /api/pais:
    get:
      $ref: ./paths/cases/pais/public@api@pais-get.yaml
  /api/pais/uf:
    get:
      $ref: ./paths/cases/pais/public@api@pais@uf-get.yaml
  /api/pais/cidades:
    get:
      $ref: ./paths/cases/pais/public@api@pais@cidades-get.yaml

  # Parte + Parte Papel (Envolvimento das partes)
  

  # Pedidos
  /api/casos/{IDCaso}/Pedidos:
    get:
      $ref: './paths/cases/pedidos/public@api@casos@idCaso@Pedidos-get.yaml'
    post:
      $ref: './paths/cases/pedidos/public@api@casos@IDCaso@pedidos-post.yaml'
  /api/casos/num/pedidos:
    get:
      $ref: './paths/cases/pedidos/public@api@casos@num@pedidos-get.yaml'
  /api/Pedidos/possiveisStatus:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@possiveisStatus-get.yaml'    
  /api/Pedidos/possiveisExitos:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@possiveisExitos-get.yaml'
  /api/Pedidos/lista:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@lista-get.yaml'
  /api/Pedidos/causas:
    get:
      $ref: './paths/cases/pedidos/public@api@Pedidos@causas-get.yaml'
  /api/casos/Pedidos/{IDCasoPedido}/IdsGarantias:
    get:
      $ref: './paths/cases/pedidos/public@api@casos@Pedidos@IDCasoPedido@IdsGarantias-get.yaml'

  # Push + Push Publicação
  

  # Tabela de preço
  /api/escritorios/{idEscritorio}/tabelaspreco:
    get:
      $ref: './paths/cases/tabela_preco/public@api@escritorios@idEscritorio@tabelaspreco-get.yaml'

  # Tabela preço categoria
  /api/escritorios/{idEscritorio}/tabelasprecocategoria:
    get:
      $ref: './paths/cases/tabela_preco_categoria/public@api@escritorios@idEscritorio@tabelasprecocategoria-get.yaml'

  # Tarefa
  /api/casos/tarefas/{cdProcesso}/{ignoraIdFuncionario}/{filtro}:
    get:
      $ref: './paths/cases/tarefa/public@api@casos@tarefas@cdProcesso@ignoraIdFuncionario@filtro-get.yaml'

  # Timeline
  /api/timeline/items:
    get:
      $ref: './paths/cases/timeline/public@api@timeline@items-get.yaml'

  # Timesheet
  

  # Valores apurados
  

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
    Ocp-Apim-Subscription-Key:
      type: apiKey
      in: header
      description: "Subscription key provided by Looplex"
      name: Ocp-Apim-Subscription-Key
    auth_token:
      type: apiKey
      in: header
      name: auth_token
    basic_auth:
      type: http
      scheme: basic
    
