
openapi: 3.0.2
info:
  version: 1.0.0
  title: Graph
  termsOfService: "https://docs.looplex.com.br/legal/termos-de-uso"
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: "https://www.looplex.com.br"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "/assets/images/logo.png"
    href: "/"
  description: >
    # Graph
    
    Looplex Graph é grupo de APIs consumidas pela interface web Looplex, relacionadas aos fluxos de documentos, templates e tarefas.


    # Começando

    ...
servers:
  - url: "https://apim.looplex.com/api/v1/graph"
    description: Graph server
tags:
  - name: Tasks
    description: Tasks operations
  - name: Document Assembler
    description: Document assembler operations
  - name: Documents
    description: Documents operations
  - name: Template
    description: Template operations
  - name: User
    description: User operations, such as login and profile consulting
paths:
  /tasks:
    get:
      $ref: ./paths/graph/tasks-get.yaml
    post:
      $ref: ./paths/graph/tasks-post.yaml
  /tasks/me:
    get:
      $ref: ./paths/graph/tasks@me-get.yaml
  /tasks/{taskId}:
    patch:
      $ref: ./paths/graph/tasks@{taskId}-patch.yaml
    get:
      $ref: ./paths/graph/tasks@{taskId}-get.yaml
    delete:
      $ref: ./paths/graph/tasks@{taskId}-delete.yaml
    put:
      $ref: ./paths/graph/tasks@{taskId}-put.yaml
  /docassembler/account/{accountId}/document/{docId}/answers:
    get:
      $ref: ./paths/graph/docassembler@account@{accountId}@document@{docId}@answers-get.yaml
  /docassembler/account/{accountId}/document/{docId}/export:
    get:
      $ref: ./paths/graph/docassembler@account@{accountId}@document@{docId}@export-get.yaml
  /docassembler/account/{accountId}/document/{docId}/import:
    post:
      $ref: ./paths/graph/docassembler@account@{accountId}@document@{docId}@import-post.yaml
  /docassembler/account/{accountId}/document/{docId}/json:
    post:
      $ref: ./paths/graph/docassembler@account@{accountId}@document@{docId}@json-post.yaml
  /docassembler/account/{accountId}/document/{docId}/revision-all-answers:
    get:
      $ref: ./paths/graph/docassembler@account@{accountId}@document@{docId}@revision-all-answers-get.yaml
  /docassembler/account/{accountId}/template/{template}/persistent:
    post:
      $ref: ./paths/graph/docassembler@account@{accountId}@template@{template}@persistent-post.yaml
  /docassembler/account/{accountId}/template/{template}/transient:
    post:
      $ref: ./paths/graph/docassembler@account@{accountId}@template@{template}@transient-post.yaml
  /account/{accountId}/document:
    post:
      $ref: ./paths/graph/account@{accountId}@document-post.yaml
    patch:
      $ref: ./paths/graph/account@{accountId}@document-patch.yaml
  /account/{accountId}/document/hide:
    post:
      $ref: ./paths/graph/account@{accountId}@document@hide-post.yaml
  /account/{accountId}/document/unhide:
    post:
      $ref: ./paths/graph/account@{accountId}@document@unhide-post.yaml
  /account/{accountId}/document/template/{templateIdentifier}:
    get:
      $ref: ./paths/graph/account@{accountId}@document@template@{templateIdentifier}-get.yaml
  /account/{accountId}/document/{docId}:
    get:
      $ref: ./paths/graph/account@{accountId}@document@{docId}-get.yaml
    delete:
      $ref: ./paths/graph/account@{accountId}@document@{docId}-delete.yaml
  /account/{accountId}/document/{docId}/rem:
    delete:
      $ref: ./paths/graph/account@{accountId}@document@{docId}@rem-delete.yaml
  /graph/account/{accountId}/document/{docId}/s3:
    delete:
      $ref: ./paths/graph/account@{accountId}@document@{docId}@s3-delete.yaml
  /account/{accountId}/template:
    get:
      $ref: ./paths/graph/account@{accountId}@template-get.yaml
  /account/{accountId}/template/{templateId}:
    get:
      $ref: ./paths/graph/account@{accountId}@template@{templateId}-get.yaml
  /user/login:
    post:
      $ref: ./paths/graph/user@login-post.yaml
  /office-render:
    post:
      $ref: ./paths/graph/office-render.yaml
  /flows:
    post:
      $ref: ./paths/graph/flows.yaml
components:
  securitySchemes:
    Subscription-Key:
      $ref: ./components/securitySchemes/ocp_apim_subscription_key.yaml
security:
  -  Subscription-Key: []
    
  
