openapi: 3.0.0
info:
  title: graph.looplex.com
  description: >-
    Looplex Graph é uma plataforma de APIs que conectam múltipos serviços e
    dados jurídicos.
  version: 1.0.0
servers:
  - url: https://graph.looplex.com
    description: Looplex Graph
  - url: https://graph.looplex.com/cases/
    description: Looplex Cases
  - url: https://graph.looplex.com/varas_foros/
    description: Looplex Varas e Foros
components:
  securitySchemes:
    apikeyAuth:
      type: http
      scheme: apikey
security:
  - apikeyAuth: []
tags:
  - name: actions
  - name: Looplex Cases
  - name: Looplex Cases > Login
  - name: Looplex Cases > Áreas
  - name: Looplex Cases > País
  - name: Looplex Cases > Agenda
  - name: Looplex Cases > Produtos
  - name: Looplex Cases > Processos
  - name: Looplex Cases > Pastas
  - name: Looplex Cases > Natureza
  - name: Looplex Cases > Timesheet
  - name: Looplex Cases > Fases
  - name: Looplex Cases > Valores apurados
  - name: people
  - name: finances
  - name: assembler
  - name: assembler > documents
  - name: assembler > templates
  - name: assembler > users
  - name: flows
  - name: storage
  - name: Looplex Varas e Foros
paths:
  /actions/v1/office-render:
    post:
      tags:
        - actions
      summary: office-render
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                template: ''
                datasource: {}
                partials: {}
                lambdas: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/logon:
    post:
      tags:
        - Looplex Cases > Login
      summary: Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                User:
                  user: ''
                  pwd: ''
                  domain: ''
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Successful: true
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/areas/{id}:
    get:
      tags:
        - Looplex Cases > Áreas
      summary: Área por identificador
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador da área
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/areas:
    get:
      tags:
        - Looplex Cases > Áreas
      summary: Lista áreas
      parameters:
        - name: ativos
          in: query
          schema:
            type: boolean
          description: '(Optional. Default: true) (bool) Áreas ativas?'
          example: 'true'
        - name: inativos
          in: query
          schema:
            type: boolean
          description: '(Optional. Default: false) (bool) Áreas inativas?'
          example: 'false'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/pais:
    get:
      tags:
        - Looplex Cases > País
      summary: Lista países
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/pais/uf:
    get:
      tags:
        - Looplex Cases > País
      summary: Lista estados
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/pais/cidades:
    get:
      tags:
        - Looplex Cases > País
      summary: Lista as cidades do estado
      parameters:
        - name: uf
          in: query
          schema:
            type: string
          description: (Required) (string) O estado.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/tarefas/{cdProcesso}/{ignoraIdFuncionario}/{filtro}:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista compromissos por filtro
      parameters:
        - name: numeroDeRecorrencias
          in: query
          schema:
            type: string
          description: '(Optional. Default: 10) (int) A quantidade de recorrências da tarefa'
        - name: cdProcesso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do processo
        - name: ignoraIdFuncionario
          in: path
          schema:
            type: string
          required: true
          description: (Required) (bool) Ignorar identificador do funcionario?
        - name: filtro
          in: path
          schema:
            type: string
          required: true
          description: '(Required) (enum) 1: Todos | 2: Finalizados | 3: Em aberto'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda/{id}/{tipo}:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Obtém item de agenda por identificador
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do item de agenda
        - name: tipo
          in: path
          schema:
            type: string
          required: true
          description: >-
            (Required) (int) O tipo do item de agenda. 1: Atividade Externa. 2:
            Prazo. 4: Audiência. 8: Compromisso de trabalho. 9: Compromisso
            particular. 10: Compromisso. 11: Publicação.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/compromissos:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Compromissos do funcionário
      parameters:
        - name: idsFuncionarios
          in: query
          schema:
            type: string
          description: >-
            (Required) (string) Identificadores dos funcionários separados por
            virgula
        - name: data
          in: query
          schema:
            type: string
          description: (Required) (string) A data para considerar na pesquisa
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda/edit:
    put:
      tags:
        - Looplex Cases > Agenda
      summary: Editar informações de item de agenda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - Nome: ''
                  Valor: ''
      parameters:
        - name: IDItemAgenda
          in: query
          schema:
            type: string
          description: (Required) (int) O identificador do item de agenda
        - name: Tipo
          in: query
          schema:
            type: string
          description: |-
            (Required) (int) O tipo do item de agenda. 

            1: AtividadeExterna.
            2: Prazo
            4: Audiencia
            8: CompromissoTrabalho
            9: CompromissoParticular
            10: Compromisso
            11: Publicação
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda/totaleventos:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Total de compromissos dos próximos 7 dias
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda/proximoslancamentos:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista próximos compromissos
      parameters:
        - name: data
          in: query
          schema:
            type: string
          description: (Required) (DateTime) A data para pesquisa
        - name: quantidadeEventosARetornar
          in: query
          schema:
            type: string
          description: '(Optional. Default: 4) (int) A quantidade de compromissos a retornar'
        - name: idCaso
          in: query
          schema:
            type: string
          description: >-
            (Optional. Default: 0) (int) O identificador do caso. Se for
            informado o identificador do caso, retorna apenas os compromissos do
            caso informado.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista compromissos
      parameters:
        - name: ano
          in: query
          schema:
            type: string
          description: (Required) (int) O ano para pesquisa
        - name: mes
          in: query
          schema:
            type: string
          description: (Required) (int) O mês para pesquisa
        - name: dia
          in: query
          schema:
            type: string
          description: (Optional) (int) O dia para pesquisa
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
    post:
      tags:
        - Looplex Cases > Agenda
      summary: Inserir item de agenda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: '2022-01-01T00:00:00'
                Lembrete: '00:00:00'
                DataLimite: '2022-01-01T00:00:00'
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: '2022-01-01T00:00:00'
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: '2022-01-01T00:00:00'
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: '2022-01-01T00:00:00'
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
    put:
      tags:
        - Looplex Cases > Agenda
      summary: Atualizar item de agenda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: '2022-01-01T00:00:00'
                Lembrete: '00:00:00'
                DataLimite: '2022-01-01T00:00:00'
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: '2022-01-01T00:00:00'
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: '2022-01-01T00:00:00'
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: '2022-01-01T00:00:00'
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/{idCaso}/agenda:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista os compromissos do caso
      parameters:
        - name: ano
          in: query
          schema:
            type: string
          description: (Required) (int) O ano para pesquisa
        - name: mes
          in: query
          schema:
            type: string
          description: (Required) (int) O mês para pesquisa
        - name: dia
          in: query
          schema:
            type: string
          description: (Optional) (int) O dia para pesquisa
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda/executores:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista executores
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/agenda/participantes:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista participantes
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/{idCaso}/audiencias:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista as audiências do caso
      parameters:
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  idAudiencia: -2147483648
                  Assunto: texto
                  Area: texto
                  Hora: texto
                  Data: texto
                  DataFormatada: texto
                  Delegante: texto
                  Executor: texto
                  Participantes:
                    - 1
                  Descricao: texto
                  Local: texto
                  Situacao: texto
                  IdCaso: -2147483648
                  IdAudienciaPai: -2147483648
                  IsEditable: false
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
  /api/casos/num/audiencias:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: >-
        Lista audiências por número interno, número externo ou identificador do
        caso
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O número interno do caso'
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: "") (string) O número externo do caso'
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O identificador do caso'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  idAudiencia: -2147483648
                  Assunto: texto
                  Area: texto
                  Hora: texto
                  Data: texto
                  DataFormatada: texto
                  Delegante: texto
                  Executor: texto
                  Participantes:
                    - 1
                  Descricao: texto
                  Local: texto
                  Situacao: texto
                  IdCaso: -2147483648
                  IdAudienciaPai: -2147483648
                  IsEditable: false
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
  /api/casos/{idCaso}/tabagenda:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista compromissos por caso
      parameters:
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int[]) Os identificadores dos casos
          example: '[142]'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  TipoDeItem: texto
                  Data: '2022-01-01T00:00:00'
                  DataFormatada: texto
                  Assunto: texto
                  IdCaso: -2147483648
                  idExecutor: -2147483648
                  Executor: texto
                  Observacao: texto
                  IdPai: -2147483648
                  IsEditable: false
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
  /api/casos/num/tabagenda:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: >-
        Lista compromissos por número interno, número externo ou identificador
        do caso
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O número interno do caso'
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: "") (string) O número externo do caso'
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O identificador do caso'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  TipoDeItem: texto
                  Data: '2022-01-01T00:00:00'
                  DataFormatada: texto
                  Assunto: texto
                  IdCaso: -2147483648
                  idExecutor: -2147483648
                  Executor: texto
                  Observacao: texto
                  IdPai: -2147483648
                  IsEditable: false
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
  /api/agenda/status_encerramento:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista status de encerramento
      parameters:
        - name: inCompromisso
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) (bool) Status de compromisso'
        - name: inPrazo
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) (bool) Status de prazo'
        - name: inAtividadeExterna
          in: query
          schema:
            type: string
          description: '(Optional. Defaut: false) (bool) Status de atividade externa'
        - name: inPublicacao
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) (bool) Status de publicação'
        - name: inAudiencia
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) (bool) Status de audiência'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDStatusEncerramento: -2147483648
                  Titulo: texto
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
  /api/agenda/titulos:
    get:
      tags:
        - Looplex Cases > Agenda
      summary: Lista títulos
      parameters:
        - name: tipo
          in: query
          schema:
            type: string
          description: |-
            (Required) (int) O tipo do item de agenda.

            1: AtividadeExterna
            2: Prazo
            4: Audiencia
            8: CompromissoTrabalho
            9: CompromissoParticular
            10: Compromisso
            11: Publicacao
            -2147483648: None
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
    post:
      tags:
        - Looplex Cases > Agenda
      summary: Cria títulos
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - IDEscritorio: -2147483648
                  TipoCobrancaEvento: -2147483648
                  Titulo: texto
                  IDTituloCobranca: -2147483648
                  LinkEntrevistaTemplate: texto
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - cdTituloCobranca: -2147483648
                  dtInativacao: '2022-01-01T00:00:00'
                  cdArea: -2147483648
                  dsTitulo: texto
                  nrTipoCobrancaEvento: -2147483648
                  nrTipoCobrancaEventoText: texto
                  cdEscritorio: -2147483648
                  cdTituloCobrancaPai: -2147483648
                  nrPrecedenciaAoPaiEmDias: -2147483648
                  dsLinkEntrevistaTemplate: texto
                  nrPrecedenciaAoPaiEmDiasText: texto
                  SubTarefas:
                    - cdTituloCobranca: -2147483648
                      dtInativacao: '2022-01-01T00:00:00'
                      cdArea: -2147483648
                      dsTitulo: texto
                      nrTipoCobrancaEvento: -2147483648
                      nrTipoCobrancaEventoText: texto
                      cdEscritorio: -2147483648
                      cdTituloCobrancaPai: -2147483648
                      nrPrecedenciaAoPaiEmDias: -2147483648
                      dsLinkEntrevistaTemplate: texto
                      nrPrecedenciaAoPaiEmDiasText: texto
                      dsSituacaoText: texto
                  dsSituacaoText: texto
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
    put:
      tags:
        - Looplex Cases > Agenda
      summary: Edita títulos
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - IDEscritorio: -2147483648
                  TipoCobrancaEvento: -2147483648
                  Titulo: texto
                  IDTituloCobranca: -2147483648
                  LinkEntrevistaTemplate: texto
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - cdTituloCobranca: -2147483648
                  dtInativacao: '2022-01-01T00:00:00'
                  cdArea: -2147483648
                  dsTitulo: texto
                  nrTipoCobrancaEvento: -2147483648
                  nrTipoCobrancaEventoText: texto
                  cdEscritorio: -2147483648
                  cdTituloCobrancaPai: -2147483648
                  nrPrecedenciaAoPaiEmDias: -2147483648
                  dsLinkEntrevistaTemplate: texto
                  nrPrecedenciaAoPaiEmDiasText: texto
                  SubTarefas:
                    - cdTituloCobranca: -2147483648
                      dtInativacao: '2022-01-01T00:00:00'
                      cdArea: -2147483648
                      dsTitulo: texto
                      nrTipoCobrancaEvento: -2147483648
                      nrTipoCobrancaEventoText: texto
                      cdEscritorio: -2147483648
                      cdTituloCobrancaPai: -2147483648
                      nrPrecedenciaAoPaiEmDias: -2147483648
                      dsLinkEntrevistaTemplate: texto
                      nrPrecedenciaAoPaiEmDiasText: texto
                      dsSituacaoText: texto
                  dsSituacaoText: texto
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: texto
                ExceptionMessage: texto
  /api/casos/{idCaso}/produtos:
    get:
      tags:
        - Looplex Cases > Produtos
      summary: Lista produtos por caso
      parameters:
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/num/produtos:
    get:
      tags:
        - Looplex Cases > Produtos
      summary: Lista produtos do caso por filtro
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O número interno do processo.'
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: "") (string) O número externo do processo'
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O identificador do processo'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/{id}/ficha:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Obtém ficha do processo
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/{id}:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Obtém informações do caso
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/clientes/{idCliente}/casos:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista os casos do cliente
      parameters:
        - name: ativos
          in: query
          schema:
            type: string
          description: '(Optional. Default: true) (bool) Listar os casos ativos?'
        - name: inativos
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) (bool) Listar os casos inativos?'
        - name: apenasMeusCasos
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) Listar apenas os casos desse funcionário?'
        - name: apenasCasosPai
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) Apenas os casos principais?'
        - name: idCliente
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do cliente
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/subcasos/{cdProcessoPai}:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista subcasos
      description: Lista os processos através do identificador do processo pai.
      parameters:
        - name: cdProcessoPai
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do processo pai.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/porIds/{ids}:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista casos por identificadores
      description: Lista os processos de acordo com os identificadores informados.
      parameters:
        - name: ids
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int[]) Os identificadores dos processos.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/meuscasos/{cdResponsavel}:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista os casos por responsável
      description: >-
        Lista os processos de acordo com o identificador do funcionário
        informado.
      parameters:
        - name: cdResponsavel
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do funcionário responsável.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/id/num:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista casos por filtro
      description: >-
        Lista os casos por filtro.


        É possível informar apenas 1 item para cada filtro.


        Exemplo: 1 número interno, 1 número externo e 1 identificador de
        processo.
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O número interno do processo.'
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: "") (string) O número externo do processo.'
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: '(Optional. Default: 0) (int) O identificador do processo.'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos/num:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista casos por filtro (array)
      description: >-
        StartFragment


        Lista os casos por filtro (array).


        É possível informar mais de 1 item para cada filtro.


        Exemplo: 1 ou mais números internos, 1 ou mais números externos e 1 ou
        mais identificadores de processo.
      parameters:
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: (Optional) (int[]) Os identificadores dos processos.
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: (Optional) (int[]) Os números internos dos processos.
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: (Optional) (string[]) Os números externos dos processos.
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
  /api/casos:
    get:
      tags:
        - Looplex Cases > Processos
      summary: Lista casos por situação
      parameters:
        - name: ativos
          in: query
          schema:
            type: string
          description: '(Optional. Default: true) (bool) Listar os casos ativos?'
        - name: inativos
          in: query
          schema:
            type: string
          description: '(Optional. Default: false) (bool) Listar os casos inativos?'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response: '200'
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                Message: Erro
                ExceptionMessage: Descrição do erro
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
[...]
