openapi: 3.0.0
info:
  title: graph.looplex.com
  description: Looplex Graph é uma plataforma de APIs que conectam múltipos
    serviços e dados jurídicos.
  version: 1.0.0
  contact:
    name: Developers Looplex
    url: https://www.looplex.com.br
    email: developer@looplex.com.br
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://graph.looplex.com
    description: Looplex Graph
  - url: https://graph.looplex.com/cases
    description: Looplex Cases
  - url: https://graph.looplex.com/varas_foros
    description: Looplex Varas e Foros
components:
  securitySchemes:
    apikeyAuth:
      type: http
      scheme: apikey
security:
  - apikeyAuth: []
tags:
  - name: actions
    description: actions
  - name: Looplex Cases
    description: API do Looplex Cases
  - name: Login
    description: Endpoints de login para a obtenção de um profile para utilização
      nas demais requisições do Looplex Cases.
  - name: Áreas
    description: Áreas
  - name: País
    description: Endpoints de País, Estado e Cidade.
  - name: Agenda
    description: Agenda
  - name: Produtos
    description: Produtos
  - name: Processos
    description: Processos
  - name: Pastas
    description: Pasta
  - name: Natureza
    description: Natureza
  - name: Timesheet
    description: Timesheet
  - name: Fases
    description: Fases
  - name: Valores apurados
    description: Valores apurados
  - name: Informações adicionais
    description: Cadastro de novas informações adicionais (dados complementares)
  - name: Informações adicionais (valor)
    description: Endpoints para incluir valor em uma informação adicional.
  - name: people
    description: people
  - name: finances
    description: finances
  - name: assembler
    description: Assembler é o grupo de APIs consumidas pela interface web Looplex,
      relacionadas aos fluxos de documentos, templates e tarefas.
  - name: documents
    description: documents
  - name: templates
    description: templates
  - name: users
    description: users
  - name: flows
    description: flows
  - name: storage
    description: storage
  - name: Looplex Varas e Foros
    description: API do Looplex Varas e Foros
paths:
  /actions/v1/office-render:
    post:
      tags:
        - actions
      summary: office-render
      operationId: officeRender
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                template: ""
                datasource: {}
                partials: {}
                lambdas: {}
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/logon:
    post:
      tags:
        - Login
      summary: Login
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: components/schemas/cases/DTOUser.yaml
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required) Subscription key provided by Looplex
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/CasesLogon.yaml
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/session:
    post:
      tags:
        - Login
      summary: Login por token de acesso
      operationId: loginPorTokenDeAcesso
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: components/schemas/cases/DTOLoginAPI.yaml
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/CasesLogon.yaml
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  "/api/areas/{id}":
    get:
      tags:
        - Áreas
      summary: Área por identificador
      operationId: areaPorIdentificador
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador da área
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                ID: -2147483648
                Titulo: texto
                Ativa: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/areas:
    get:
      tags:
        - Áreas
      summary: Lista áreas
      operationId: listaAreas
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: ativos
          in: query
          schema:
            type: boolean
          description: "(Optional. Default: true) (bool) Áreas ativas?"
          example: "true"
        - name: inativos
          in: query
          schema:
            type: boolean
          description: "(Optional. Default: false) (bool) Áreas inativas?"
          example: "false"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - ID: -2147483648
                  Titulo: texto
                  Ativa: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/pais:
    get:
      tags:
        - País
      summary: Lista países
      operationId: listaPaises
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - ID: 0
                  Pais: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/pais/uf:
    get:
      tags:
        - País
      summary: Lista estados
      operationId: listaEstados
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - ID: texto
                  UF: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/pais/cidades:
    get:
      tags:
        - País
      summary: Lista as cidades do estado
      operationId: listaAsCidadesDoEstado
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: uf
          in: query
          schema:
            type: string
          description: (Required) (string) O estado.
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - ID: -32768
                  IDUF: -32768
                  Cidade: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  "/api/casos/tarefas/{cdProcesso}/{ignoraIdFuncionario}/{filtro}":
    get:
      tags:
        - Agenda
      summary: Lista compromissos por filtro
      operationId: listaCompromissosPorFiltro
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: numeroDeRecorrencias
          in: query
          schema:
            type: string
          description: "(Optional. Default: 10) (int) A quantidade de recorrências da
            tarefa"
        - name: cdProcesso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do processo
        - name: ignoraIdFuncionario
          in: path
          schema:
            type: string
          required: true
          description: (Required) (bool) Ignorar identificador do funcionario?
        - name: filtro
          in: path
          schema:
            type: string
          required: true
          description: |-
            (Required) (enum) Situação do item de agenda

            1: Todos
            2: Finalizados
            3: EmAberto
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDCaso: -2147483648
                  IDItemAgenda: -2147483648
                  IDItemAgendaPai: -2147483648
                  IDFuncionarioCriador: -2147483648
                  Tipo: -2147483648
                  Titulo: texto
                  IDTitulocobranca: -2147483648
                  Data: 2022-01-01T00:00:00
                  Lembrete: 00:00:00
                  DataLimite: 2022-01-01T00:00:00
                  FuncionarioExecutor: -2147483648
                  FuncionarioResponsavel: -2147483648
                  FuncionariosParticipantes:
                    - 1
                  Observacao: texto
                  DataRealizacao: 2022-01-01T00:00:00
                  IDStatusEncerramentoItemAgenda: -2147483648
                  ObservacaoRegistroRealizacao: texto
                  Situacao: -2147483648
                  DataFormatada: texto
                  DataLimiteFormatada: texto
                  IDForo: -2147483648
                  Local: texto
                  NomeFuncionarioExecutor: texto
                  DataCriacao: 2022-01-01T00:00:00
                  DataCriacaoFormatada: texto
                  DataRealizacaoFormatada: texto
                  DataRegistroRealizacao: 2022-01-01T00:00:00
                  DataRegistroRealizacaoFormatada: texto
                  SituacaoLembrete: -2147483648
                  IsEditable: false
                  Concluido: false
                  StatusEncerramentoItemAgenda: texto
                  NomeClienteFormatado: texto
                  AreaFormatada: texto
                  TituloCasoFormatado: texto
                  NumeroDoCaso: -2147483648
                  TituloCaso: texto
                  NumeroExternoCaso: texto
                  Cliente: texto
                  Executor: texto
                  NumeroPasta: -2147483648
                  Assunto: texto
                  NumeroInterno: texto
                  Rito: texto
                  Vencido: texto
                  SituacaoString: texto
                  PoloAtivo: texto
                  PoloPassivo: texto
                  Classificacao: texto
                  CampoDataConclusaoItemDeAgendaBloqueado: false
                  EditarApenasCampoObservacoesItemDeAgenda: false
                  ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  "/api/agenda/{id}/{tipo}":
    get:
      tags:
        - Agenda
      summary: Obtém item de agenda por identificador
      operationId: obtemItemDeAgendaPorIdentificador
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do item de agenda
        - name: tipo
          in: path
          schema:
            type: string
          required: true
          description: |-
            (Required) (int) O tipo do item de agenda.

            1: AtividadeExterna
            2: Prazo
            4: Audiencia
            8: CompromissoTrabalho
            9: CompromissoParticular
            10: Compromisso
            11: Publicacao
            -2147483648: None
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: 2022-01-01T00:00:00
                Lembrete: 00:00:00
                DataLimite: 2022-01-01T00:00:00
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: 2022-01-01T00:00:00
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: 2022-01-01T00:00:00
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: 2022-01-01T00:00:00
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/compromissos:
    get:
      tags:
        - Agenda
      summary: Compromissos do funcionário
      operationId: compromissosDoFuncionario
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: idsFuncionarios
          in: query
          schema:
            type: string
          description: (Required) (string) Identificadores dos funcionários separados por
            virgula
        - name: data
          in: query
          schema:
            type: string
          description: (Required) (string) A data para considerar na pesquisa
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDCompromisso: -2147483648
                  IDPrazo: -2147483648
                  IDArea: -2147483648
                  IDDelegante: -2147483648
                  IDExecutor: -2147483648
                  IDResponsavelCaso: -2147483648
                  NumeroPasta: -2147483648
                  Data: 2022-01-01T00:00:00
                  HoraInicial: 2022-01-01T00:00:00
                  DataFinal: 2022-01-01T00:00:00
                  DataRealizacao: 2022-01-01T00:00:00
                  Concluido: false
                  TipoItemAgenda: -2147483648
                  Assunto: texto
                  Descricao: texto
                  IDProcesso: -2147483648
                  TipoProcesso: -2147483648
                  NumeroDoCaso: -2147483648
                  TituloCaso: texto
                  NumeroInterno: texto
                  NumeroExternoCaso: texto
                  Rito: texto
                  Vencido: texto
                  Cliente: texto
                  Executor: texto
                  Situacao: -2147483648
                  SituacaoString: texto
                  PoloAtivo: texto
                  PoloPassivo: texto
                  Classificacao: texto
                  CampoDataConclusaoItemDeAgendaBloqueado: false
                  EditarApenasCampoObservacoesItemDeAgenda: false
                  IsEditable: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/edit:
    put:
      tags:
        - Agenda
      summary: Editar informações de item de agenda
      operationId: editarInformacoesDeItemDeAgenda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - Nome: texto
                  Valor: texto
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: IDItemAgenda
          in: query
          schema:
            type: string
          description: (Required) (int) O identificador do item de agenda
        - name: Tipo
          in: query
          schema:
            type: string
          description: |-
            (Required) (int) O tipo do item de agenda. 

            1: AtividadeExterna
            2: Prazo
            4: Audiencia
            8: CompromissoTrabalho
            9: CompromissoParticular
            10: Compromisso
            11: Publicacao
            -2147483648: None
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: 2022-01-01T00:00:00
                Lembrete: 00:00:00
                DataLimite: 2022-01-01T00:00:00
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: 2022-01-01T00:00:00
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: 2022-01-01T00:00:00
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: 2022-01-01T00:00:00
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/totaleventos:
    get:
      tags:
        - Agenda
      summary: Total de compromissos dos próximos 7 dias
      operationId: totalDeCompromissosDosProximos7Dias
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example: 1
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/proximoslancamentos:
    get:
      tags:
        - Agenda
      summary: Lista próximos compromissos
      operationId: listaProximosCompromissos
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: data
          in: query
          schema:
            type: string
          description: (Required) (DateTime) A data para pesquisa
        - name: quantidadeEventosARetornar
          in: query
          schema:
            type: string
          description: "(Optional. Default: 4) (int) A quantidade de compromissos a
            retornar"
        - name: idCaso
          in: query
          schema:
            type: string
          description: "(Optional. Default: 0) (int) O identificador do caso. Se for
            informado o identificador do caso, retorna apenas os compromissos do
            caso informado."
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDCaso: -2147483648
                  IDItemAgenda: -2147483648
                  IDItemAgendaPai: -2147483648
                  IDFuncionarioCriador: -2147483648
                  Tipo: -2147483648
                  Titulo: texto
                  IDTitulocobranca: -2147483648
                  Data: 2022-01-01T00:00:00
                  Lembrete: 00:00:00
                  DataLimite: 2022-01-01T00:00:00
                  FuncionarioExecutor: -2147483648
                  FuncionarioResponsavel: -2147483648
                  FuncionariosParticipantes:
                    - 1
                  Observacao: texto
                  DataRealizacao: 2022-01-01T00:00:00
                  IDStatusEncerramentoItemAgenda: -2147483648
                  ObservacaoRegistroRealizacao: texto
                  Situacao: -2147483648
                  DataFormatada: texto
                  DataLimiteFormatada: texto
                  IDForo: -2147483648
                  Local: texto
                  NomeFuncionarioExecutor: texto
                  DataCriacao: 2022-01-01T00:00:00
                  DataCriacaoFormatada: texto
                  DataRealizacaoFormatada: texto
                  DataRegistroRealizacao: 2022-01-01T00:00:00
                  DataRegistroRealizacaoFormatada: texto
                  SituacaoLembrete: -2147483648
                  IsEditable: false
                  Concluido: false
                  StatusEncerramentoItemAgenda: texto
                  NomeClienteFormatado: texto
                  AreaFormatada: texto
                  TituloCasoFormatado: texto
                  NumeroDoCaso: -2147483648
                  TituloCaso: texto
                  NumeroExternoCaso: texto
                  Cliente: texto
                  Executor: texto
                  NumeroPasta: -2147483648
                  Assunto: texto
                  NumeroInterno: texto
                  Rito: texto
                  Vencido: texto
                  SituacaoString: texto
                  PoloAtivo: texto
                  PoloPassivo: texto
                  Classificacao: texto
                  CampoDataConclusaoItemDeAgendaBloqueado: false
                  EditarApenasCampoObservacoesItemDeAgenda: false
                  ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda:
    get:
      tags:
        - Agenda
      summary: Lista compromissos
      operationId: listaCompromissos
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: ano
          in: query
          schema:
            type: string
          description: (Required) (int) O ano para pesquisa
        - name: mes
          in: query
          schema:
            type: string
          description: (Required) (int) O mês para pesquisa
        - name: dia
          in: query
          schema:
            type: string
          description: (Optional) (int) O dia para pesquisa
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDCaso: -2147483648
                  IDItemAgenda: -2147483648
                  IDItemAgendaPai: -2147483648
                  IDFuncionarioCriador: -2147483648
                  Tipo: -2147483648
                  Titulo: texto
                  IDTitulocobranca: -2147483648
                  Data: 2022-01-01T00:00:00
                  Lembrete: 00:00:00
                  DataLimite: 2022-01-01T00:00:00
                  FuncionarioExecutor: -2147483648
                  FuncionarioResponsavel: -2147483648
                  FuncionariosParticipantes:
                    - 1
                  Observacao: texto
                  DataRealizacao: 2022-01-01T00:00:00
                  IDStatusEncerramentoItemAgenda: -2147483648
                  ObservacaoRegistroRealizacao: texto
                  Situacao: -2147483648
                  DataFormatada: texto
                  DataLimiteFormatada: texto
                  IDForo: -2147483648
                  Local: texto
                  NomeFuncionarioExecutor: texto
                  DataCriacao: 2022-01-01T00:00:00
                  DataCriacaoFormatada: texto
                  DataRealizacaoFormatada: texto
                  DataRegistroRealizacao: 2022-01-01T00:00:00
                  DataRegistroRealizacaoFormatada: texto
                  SituacaoLembrete: -2147483648
                  IsEditable: false
                  Concluido: false
                  StatusEncerramentoItemAgenda: texto
                  NomeClienteFormatado: texto
                  AreaFormatada: texto
                  TituloCasoFormatado: texto
                  NumeroDoCaso: -2147483648
                  TituloCaso: texto
                  NumeroExternoCaso: texto
                  Cliente: texto
                  Executor: texto
                  NumeroPasta: -2147483648
                  Assunto: texto
                  NumeroInterno: texto
                  Rito: texto
                  Vencido: texto
                  SituacaoString: texto
                  PoloAtivo: texto
                  PoloPassivo: texto
                  Classificacao: texto
                  CampoDataConclusaoItemDeAgendaBloqueado: false
                  EditarApenasCampoObservacoesItemDeAgenda: false
                  ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
    post:
      tags:
        - Agenda
      summary: Inserir item de agenda
      operationId: inserirItemDeAgenda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: 2022-01-01T00:00:00
                Lembrete: 00:00:00
                DataLimite: 2022-01-01T00:00:00
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: 2022-01-01T00:00:00
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: 2022-01-01T00:00:00
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: 2022-01-01T00:00:00
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: 2022-01-01T00:00:00
                Lembrete: 00:00:00
                DataLimite: 2022-01-01T00:00:00
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: 2022-01-01T00:00:00
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: 2022-01-01T00:00:00
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: 2022-01-01T00:00:00
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
    put:
      tags:
        - Agenda
      summary: Atualizar item de agenda
      operationId: atualizarItemDeAgenda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: 2022-01-01T00:00:00
                Lembrete: 00:00:00
                DataLimite: 2022-01-01T00:00:00
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: 2022-01-01T00:00:00
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: 2022-01-01T00:00:00
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: 2022-01-01T00:00:00
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                IDCaso: -2147483648
                IDItemAgenda: -2147483648
                IDItemAgendaPai: -2147483648
                IDFuncionarioCriador: -2147483648
                Tipo: -2147483648
                Titulo: texto
                IDTitulocobranca: -2147483648
                Data: 2022-01-01T00:00:00
                Lembrete: 00:00:00
                DataLimite: 2022-01-01T00:00:00
                FuncionarioExecutor: -2147483648
                FuncionarioResponsavel: -2147483648
                FuncionariosParticipantes:
                  - 1
                Observacao: texto
                DataRealizacao: 2022-01-01T00:00:00
                IDStatusEncerramentoItemAgenda: -2147483648
                ObservacaoRegistroRealizacao: texto
                Situacao: -2147483648
                DataFormatada: texto
                DataLimiteFormatada: texto
                IDForo: -2147483648
                Local: texto
                NomeFuncionarioExecutor: texto
                DataCriacao: 2022-01-01T00:00:00
                DataCriacaoFormatada: texto
                DataRealizacaoFormatada: texto
                DataRegistroRealizacao: 2022-01-01T00:00:00
                DataRegistroRealizacaoFormatada: texto
                SituacaoLembrete: -2147483648
                IsEditable: false
                Concluido: false
                StatusEncerramentoItemAgenda: texto
                NomeClienteFormatado: texto
                AreaFormatada: texto
                TituloCasoFormatado: texto
                NumeroDoCaso: -2147483648
                TituloCaso: texto
                NumeroExternoCaso: texto
                Cliente: texto
                Executor: texto
                NumeroPasta: -2147483648
                Assunto: texto
                NumeroInterno: texto
                Rito: texto
                Vencido: texto
                SituacaoString: texto
                PoloAtivo: texto
                PoloPassivo: texto
                Classificacao: texto
                CampoDataConclusaoItemDeAgendaBloqueado: false
                EditarApenasCampoObservacoesItemDeAgenda: false
                ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  "/api/casos/{idCaso}/agenda":
    get:
      tags:
        - Agenda
      summary: Lista os compromissos do caso
      operationId: listaOsCompromissosDoCaso
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: ano
          in: query
          schema:
            type: string
          description: (Required) (int) O ano para pesquisa
        - name: mes
          in: query
          schema:
            type: string
          description: (Required) (int) O mês para pesquisa
        - name: dia
          in: query
          schema:
            type: string
          description: (Optional) (int) O dia para pesquisa
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDCaso: -2147483648
                  IDItemAgenda: -2147483648
                  IDItemAgendaPai: -2147483648
                  IDFuncionarioCriador: -2147483648
                  Tipo: -2147483648
                  Titulo: texto
                  IDTitulocobranca: -2147483648
                  Data: 2022-01-01T00:00:00
                  Lembrete: 00:00:00
                  DataLimite: 2022-01-01T00:00:00
                  FuncionarioExecutor: -2147483648
                  FuncionarioResponsavel: -2147483648
                  FuncionariosParticipantes:
                    - 1
                  Observacao: texto
                  DataRealizacao: 2022-01-01T00:00:00
                  IDStatusEncerramentoItemAgenda: -2147483648
                  ObservacaoRegistroRealizacao: texto
                  Situacao: -2147483648
                  DataFormatada: texto
                  DataLimiteFormatada: texto
                  IDForo: -2147483648
                  Local: texto
                  NomeFuncionarioExecutor: texto
                  DataCriacao: 2022-01-01T00:00:00
                  DataCriacaoFormatada: texto
                  DataRealizacaoFormatada: texto
                  DataRegistroRealizacao: 2022-01-01T00:00:00
                  DataRegistroRealizacaoFormatada: texto
                  SituacaoLembrete: -2147483648
                  IsEditable: false
                  Concluido: false
                  StatusEncerramentoItemAgenda: texto
                  NomeClienteFormatado: texto
                  AreaFormatada: texto
                  TituloCasoFormatado: texto
                  NumeroDoCaso: -2147483648
                  TituloCaso: texto
                  NumeroExternoCaso: texto
                  Cliente: texto
                  Executor: texto
                  NumeroPasta: -2147483648
                  Assunto: texto
                  NumeroInterno: texto
                  Rito: texto
                  Vencido: texto
                  SituacaoString: texto
                  PoloAtivo: texto
                  PoloPassivo: texto
                  Classificacao: texto
                  CampoDataConclusaoItemDeAgendaBloqueado: false
                  EditarApenasCampoObservacoesItemDeAgenda: false
                  ExecutionID: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/executores:
    get:
      tags:
        - Agenda
      summary: Lista executores
      operationId: listaExecutores
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDFuncionario: -2147483648
                  Nome: texto
                  Apelido: texto
                  Logradouro: texto
                  NumeroLogradouro: texto
                  Bairro: texto
                  Cidade: texto
                  Estado: texto
                  Complemento: texto
                  CEP: texto
                  Email: texto
                  CPF: texto
                  RG: texto
                  DataDeNascimento: 2022-01-01T00:00:00
                  DataDeNascimentoFormatada: texto
                  Cargo: texto
                  DataDeAdmissao: 2022-01-01T00:00:00
                  DataDeAdmissaoFormatada: texto
                  DataDeDemissao: 2022-01-01T00:00:00
                  DataDeDemissaoFormatada: texto
                  Oab: texto
                  NumeroDeDependentes: -2147483648
                  Admin: false
                  Observacoes: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/participantes:
    get:
      tags:
        - Agenda
      summary: Lista participantes
      operationId: listaParticipantes
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDFuncionario: -2147483648
                  Nome: texto
                  Apelido: texto
                  Logradouro: texto
                  NumeroLogradouro: texto
                  Bairro: texto
                  Cidade: texto
                  Estado: texto
                  Complemento: texto
                  CEP: texto
                  Email: texto
                  CPF: texto
                  RG: texto
                  DataDeNascimento: 2022-01-01T00:00:00
                  DataDeNascimentoFormatada: texto
                  Cargo: texto
                  DataDeAdmissao: 2022-01-01T00:00:00
                  DataDeAdmissaoFormatada: texto
                  DataDeDemissao: 2022-01-01T00:00:00
                  DataDeDemissaoFormatada: texto
                  Oab: texto
                  NumeroDeDependentes: -2147483648
                  Admin: false
                  Observacoes: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  "/api/casos/{idCaso}/audiencias":
    get:
      tags:
        - Agenda
      summary: Lista as audiências do caso
      operationId: listaAsAudienciasDoCaso
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int) O identificador do caso
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  idAudiencia: -2147483648
                  Assunto: texto
                  Area: texto
                  Hora: texto
                  Data: texto
                  DataFormatada: texto
                  Delegante: texto
                  Executor: texto
                  Participantes:
                    - 1
                  Descricao: texto
                  Local: texto
                  Situacao: texto
                  IdCaso: -2147483648
                  IdAudienciaPai: -2147483648
                  IsEditable: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/casos/num/audiencias:
    get:
      tags:
        - Agenda
      summary: Lista audiências por número interno, número externo ou identificador do
        caso
      operationId: listaAudienciasPorNumeroInternoNumeroExternoOuIdentificadorDoCaso
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: "(Optional. Default: 0) (int) O número interno do caso"
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: "") (string) O número externo do caso'
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: "(Optional. Default: 0) (int) O identificador do caso"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  idAudiencia: -2147483648
                  Assunto: texto
                  Area: texto
                  Hora: texto
                  Data: texto
                  DataFormatada: texto
                  Delegante: texto
                  Executor: texto
                  Participantes:
                    - 1
                  Descricao: texto
                  Local: texto
                  Situacao: texto
                  IdCaso: -2147483648
                  IdAudienciaPai: -2147483648
                  IsEditable: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  "/api/casos/{idCaso}/tabagenda":
    get:
      tags:
        - Agenda
      summary: Lista compromissos por caso
      operationId: listaCompromissosPorCaso
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: idCaso
          in: path
          schema:
            type: string
          required: true
          description: (Required) (int[]) Os identificadores dos casos
          example: "[142]"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  TipoDeItem: texto
                  Data: 2022-01-01T00:00:00
                  DataFormatada: texto
                  Assunto: texto
                  IdCaso: -2147483648
                  idExecutor: -2147483648
                  Executor: texto
                  Observacao: texto
                  IdPai: -2147483648
                  IsEditable: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/casos/num/tabagenda:
    get:
      tags:
        - Agenda
      summary: Lista compromissos por número interno, número externo ou identificador
        do caso
      operationId: listaCompromissosPorNumeroInternoNumeroExternoOuIdentificadorDoCaso
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: NumeroInterno
          in: query
          schema:
            type: string
          description: "(Optional. Default: 0) (int) O número interno do caso"
        - name: NumeroExterno
          in: query
          schema:
            type: string
          description: '(Optional. Default: "") (string) O número externo do caso'
        - name: IdProcesso
          in: query
          schema:
            type: string
          description: "(Optional. Default: 0) (int) O identificador do caso"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - NomeClienteProcesso: texto
                  TituloProcesso: texto
                  NumeroInterno: texto
                  NumeroExterno: texto
                  TipoDeItem: texto
                  Data: 2022-01-01T00:00:00
                  DataFormatada: texto
                  Assunto: texto
                  IdCaso: -2147483648
                  idExecutor: -2147483648
                  Executor: texto
                  Observacao: texto
                  IdPai: -2147483648
                  IsEditable: false
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/status_encerramento:
    get:
      tags:
        - Agenda
      summary: Lista status de encerramento
      operationId: listaStatusDeEncerramento
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: inCompromisso
          in: query
          schema:
            type: string
          description: "(Optional. Default: false) (bool) Status de compromisso"
        - name: inPrazo
          in: query
          schema:
            type: string
          description: "(Optional. Default: false) (bool) Status de prazo"
        - name: inAtividadeExterna
          in: query
          schema:
            type: string
          description: "(Optional. Defaut: false) (bool) Status de atividade externa"
        - name: inPublicacao
          in: query
          schema:
            type: string
          description: "(Optional. Default: false) (bool) Status de publicação"
        - name: inAudiencia
          in: query
          schema:
            type: string
          description: "(Optional. Default: false) (bool) Status de audiência"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDStatusEncerramento: -2147483648
                  Titulo: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
  /api/agenda/titulos:
    get:
      tags:
        - Agenda
      summary: Lista títulos
      operationId: listaTitulos
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
        - name: tipo
          in: query
          schema:
            type: string
          description: |-
            (Required) (int) O tipo do item de agenda.

            1: AtividadeExterna
            2: Prazo
            4: Audiencia
            8: CompromissoTrabalho
            9: CompromissoParticular
            10: Compromisso
            11: Publicacao
            -2147483648: None
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - IDEscritorio: -2147483648
                  TipoCobrancaEvento: -2147483648
                  Titulo: texto
                  IDTituloCobranca: -2147483648
                  LinkEntrevistaTemplate: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
    post:
      tags:
        - Agenda
      summary: Cria títulos
      operationId: criaTitulos
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - IDEscritorio: -2147483648
                  TipoCobrancaEvento: -2147483648
                  Titulo: texto
                  IDTituloCobranca: -2147483648
                  LinkEntrevistaTemplate: texto
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - cdTituloCobranca: -2147483648
                  dtInativacao: 2022-01-01T00:00:00
                  cdArea: -2147483648
                  dsTitulo: texto
                  nrTipoCobrancaEvento: -2147483648
                  nrTipoCobrancaEventoText: texto
                  cdEscritorio: -2147483648
                  cdTituloCobrancaPai: -2147483648
                  nrPrecedenciaAoPaiEmDias: -2147483648
                  dsLinkEntrevistaTemplate: texto
                  nrPrecedenciaAoPaiEmDiasText: texto
                  SubTarefas:
                    - cdTituloCobranca: -2147483648
                      dtInativacao: 2022-01-01T00:00:00
                      cdArea: -2147483648
                      dsTitulo: texto
                      nrTipoCobrancaEvento: -2147483648
                      nrTipoCobrancaEventoText: texto
                      cdEscritorio: -2147483648
                      cdTituloCobrancaPai: -2147483648
                      nrPrecedenciaAoPaiEmDias: -2147483648
                      dsLinkEntrevistaTemplate: texto
                      nrPrecedenciaAoPaiEmDiasText: texto
                      dsSituacaoText: texto
                  dsSituacaoText: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
    put:
      tags:
        - Agenda
      summary: Edita títulos
      operationId: editaTitulos
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - IDEscritorio: -2147483648
                  TipoCobrancaEvento: -2147483648
                  Titulo: texto
                  IDTituloCobranca: -2147483648
                  LinkEntrevistaTemplate: texto
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
          description: (Required)
        - name: Profile
          in: header
          schema:
            type: string
          description: (Required)
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                - cdTituloCobranca: -2147483648
                  dtInativacao: 2022-01-01T00:00:00
                  cdArea: -2147483648
                  dsTitulo: texto
                  nrTipoCobrancaEvento: -2147483648
                  nrTipoCobrancaEventoText: texto
                  cdEscritorio: -2147483648
                  cdTituloCobrancaPai: -2147483648
                  nrPrecedenciaAoPaiEmDias: -2147483648
                  dsLinkEntrevistaTemplate: texto
                  nrPrecedenciaAoPaiEmDiasText: texto
                  SubTarefas:
                    - cdTituloCobranca: -2147483648
                      dtInativacao: 2022-01-01T00:00:00
                      cdArea: -2147483648
                      dsTitulo: texto
                      nrTipoCobrancaEvento: -2147483648
                      nrTipoCobrancaEventoText: texto
                      cdEscritorio: -2147483648
                      cdTituloCobrancaPai: -2147483648
                      nrPrecedenciaAoPaiEmDias: -2147483648
                      dsLinkEntrevistaTemplate: texto
                      nrPrecedenciaAoPaiEmDiasText: texto
                      dsSituacaoText: texto
                  dsSituacaoText: texto
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: components/schemas/cases/Exception.yaml
        "403":
          description: Forbidden
          headers:
[...]
