# https://redocly.com/docs/openapi-visual-reference/info/
openapi: 3.0.2
security: 
  - Ocp-Apim-Subscription-Key: []
info:
  version: 1.0.0
  title: "Looplex Varas e Foros"
  termsOfService: "https://docs.looplex.com.br/legal/termos-de-uso"
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: "https://www.looplex.com.br"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "/assets/images/logo.png"
    href: "/"
  description: >
    This is an **example** API to demonstrate features of OpenAPI specification

    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in 

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: "https://github.com/Rebilly/generator-openapi-repo"
servers:
  - url: "https://apim.looplex.com/varas_foros"
    description: "Varas e Foros Server"
paths:
  # paths
  /v2:
    get:
      $ref: './paths/varas_foros/public@varas_foros@v2-level-get.yaml'
  /v2/foro:
    post:
      $ref: './paths/varas_foros/public@varas_foros@v2-foro-post.yaml'
  /v2/list:
    get:
      $ref: './paths/varas_foros/public@varas_foros@v2-list-get.yaml'
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
    Ocp-Apim-Subscription-Key:
      type: apiKey
      in: header
      description: "Subscription key provided by Looplex"
      name: Ocp-Apim-Subscription-Key
    auth_token:
      type: apiKey
      in: header
      name: auth_token
    basic_auth:
      type: http
      scheme: basic