openapi: 3.0.2
info:
  version: 1.0.0
  title: Looplex Varas e Foros
  termsOfService: "https://docs.looplex.com.br/legal/termos-de-uso"
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: "https://www.looplex.com.br"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "/assets/images/logo.png"
    href: "/"
  description: >
    This is an **example** API to demonstrate features of OpenAPI specification

    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in 

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: "https://github.com/Rebilly/generator-openapi-repo"
x-tagGroups:
  - name: Endpoints
    tags:
      - Varas e Foros
servers:
  - url: "https://graph.looplex.com/varas_foros"
    description: "Looplex Varas e Foros Server"
paths:
  # Varas e Foros (Somente métodos GET)
  /api/VF/ListaPorNivel:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ListaPorNivel-get.yaml'
  /api/VF/ObtemFilhosPorPai:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ObtemFilhosPorPai-get.yaml'
  /api/VF/ObtemFilhosPorNomePai:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ObtemFilhosPorNomePai-get.yaml'  
  /api/VF/ObtemPorID:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ObtemPorID-get.yaml'
  /api/VF/ListaHierarquia:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ListaHierarquia-get.yaml'
  /api/VF/HierarquiaFormatadaDoNo:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@HierarquiaFormatadaDoNo-get.yaml'
  /api/VF/ListaRitosGrupoRitos:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ListaRitosGrupoRitos-get.yaml'
  /api/VF/ListaGruposRito:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ListaGruposRito-get.yaml'
  /api/VF/ListaVinculoGrupoERito:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ListaVinculoGrupoERito-get.yaml'
  /api/VF/ritosDoNo:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ritosDoNo-get.yaml'
  /api/VF/RitosDoGrupo:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@RitosDoGrupo-get.yaml'
  /api/VF/cdNoPorNome:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@cdNoPorNome-get.yaml'  
  /api/VF/ProximosNiveis:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@ProximosNiveis-get.yaml'
  /api/VF/Categorias:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@Categorias-get.yaml'
  /api/VF/Rito:
    get:
      $ref: './paths/cases/varas_foros/public@api@VF@Rito-get.yaml'

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
    auth_token:
      type: apiKey
      in: header
      name: auth_token
    basic_auth:
      type: http
      scheme: basic
