openapi: 3.0.1
info:
  title: Lawsoft API (Production - Internal)
  description: "API de produção da Lawsoft. "
  version: "1.0"
servers:
  - url: https://lawsoft-apim.azure-api.net/lawsoft-api-internal
paths:
  /api/agenda/participantes:
    get:
      tags:
        - Agenda
      summary: /api/agenda/participantes
      description: Obtém os participantes.
      operationId: obtem-participantes
      responses:
        "200":
          description: Retorna um array com os participantes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOFuncionario"
              example:
                IDFuncionario: 0
                Nome: string
                Apelido: string
                Logradouro: string
                NumeroLogradouro: string
                Bairro: string
                Cidade: string
                Estado: string
                Complemento: string
                CEP: string
                Email: string
                CPF: string
                RG: string
                EstadoCivil: 0
                DataDeNascimento: {}
                DataDeNascimentoFormatada: string
                Cargo: string
                DataDeAdmissao: {}
                DataDeAdmissaoFormatada: string
                DataDeDemissao: {}
                DataDeDemissaoFormatada: string
                Oab: string
                NumeroDeDependentes: 0
                Admin: true
                Observacoes: string
                VinculoEmpregaticio: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/agenda/titulos:
    get:
      tags:
        - Agenda
      summary: /api/agenda/titulos
      description: Obtém os títulos de agenda.
      operationId: obtem-os-titulos-de-agenda
      parameters:
        - name: tipo
          in: query
          description: "- 1: Atividade Externa\n- 2: Prazo\n- 4: Audiência\n- 8: Compromisso de trabalho\n- 9: Compromisso particular"
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com os títulos de agenda.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOTituloAgenda"
              example:
                IDEscritorio: 0
                TipoCobrancaEvento: 0
                Titulo: string
                IDTituloCobranca: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/{idCaso}/audiencias":
    get:
      tags:
        - Agenda
      summary: "/api/casos/{idCaso}/audiencias"
      description: Obtém as audiências por caso.
      operationId: obtem-as-audiencias-por-caso
      parameters:
        - name: idCaso
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com as audiências do caso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCompromissoAudiencia"
              example:
                NomeClienteProcesso: string
                TituloProcesso: string
                NumeroInterno: string
                NumeroExterno: string
                idAudiencia: 0
                Assunto: string
                Area: string
                Hora: string
                Data: string
                DataFormatada: string
                Delegante: string
                Executor: string
                Participantes:
                  - 0
                Descricao: string
                Local: string
                Situacao: string
                IdCaso: 0
                IdAudienciaPai: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/num/audiencias:
    get:
      tags:
        - Agenda
      summary: /api/casos/num/audiencias
      description: "Obtém audiências por numero interno, externo ou identificador do caso"
      operationId: obtem-audiencias-por-numero-interno-externo-ou-identificador-do-caso
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: integer
        - name: NumeroExterno
          in: query
          schema:
            type: string
        - name: IdProcesso
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Retorna um array com as audiências encontradas através do numero interno, externo ou identificador do caso."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCompromissoAudiencia"
              example:
                NomeClienteProcesso: string
                TituloProcesso: string
                NumeroInterno: string
                NumeroExterno: string
                idAudiencia: 0
                Assunto: string
                Area: string
                Hora: string
                Data: string
                DataFormatada: string
                Delegante: string
                Executor: string
                Participantes:
                  - 0
                Descricao: string
                Local: string
                Situacao: string
                IdCaso: 0
                IdAudienciaPai: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/{idCaso}/tabagenda":
    get:
      tags:
        - Agenda
      summary: "/api/casos/{idCaso}/tabagenda"
      description: "Obtém compromissos, prazos e publicações por caso."
      operationId: obtem-compromissos-prazos-e-publicacoes-por-caso
      parameters:
        - name: idCaso
          in: path
          description: "Exemplo: [1, 10]"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Retorna um array com os compromissos, prazos e publicações por caso."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOItemAgendaSimples"
              example:
                NomeClienteProcesso: string
                TituloProcesso: string
                NumeroInterno: string
                NumeroExterno: string
                TipoDeItem: string
                Data: {}
                DataFormatada: string
                Assunto: string
                IdCaso: 0
                idExecutor: 0
                Executor: string
                Observacao: string
                IdPai: 0
                Recorrencia:
                  Tipo: string
                  DiasDaSemana:
                    - string
                  DataInicio: string
                  DataFim: string
                  MesDoAno: string
                  DiaDoMes: string
                  ACada: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/num/tabagenda:
    get:
      tags:
        - Agenda
      summary: /api/casos/num/tabagenda
      description: "Obtém compromissos, prazos e publicações por numero interno, externo ou identificador do caso."
      operationId: obtem-compromissos-prazos-e-publicacoes-por-numero-interno-externo-ou-caso
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: integer
        - name: NumeroExterno
          in: query
          schema:
            type: string
        - name: IdProcesso
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Retorna um array com os compromissos, prazos e publicações encontrados de acordo com o numero interno, externo ou identificador do caso."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOItemAgendaSimples"
              example:
                NomeClienteProcesso: string
                TituloProcesso: string
                NumeroInterno: string
                NumeroExterno: string
                TipoDeItem: string
                Data: {}
                DataFormatada: string
                Assunto: string
                IdCaso: 0
                idExecutor: 0
                Executor: string
                Observacao: string
                IdPai: 0
                Recorrencia:
                  Tipo: string
                  DiasDaSemana:
                    - string
                  DataInicio: string
                  DataFim: string
                  MesDoAno: string
                  DiaDoMes: string
                  ACada: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/andamentos/classificacoes:
    get:
      tags:
        - Andamentos
      summary: /api/andamentos/classificacoes
      description: Retorna um array com as classificações de andamento do escritório.
      operationId: obtem-classificacoes-de-andamento-do-escritorio
      responses:
        "200":
          description: Retorna um array com as classificações de andamento do escritório.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamentoClassificacao"
              example:
                IDAndamentoClassificacao: 0
                NrOrdem: 0
                DsNome: string
                CdEscritorio: 0
                InExibirEmRelatorio: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  ? "/api/casos/{idCaso}/andamentos/{data}/{primeiraLeitura}/{totalAndamentosLidosPeloMobile}"
  : get:
      tags:
        - Andamentos
      summary: "/api/casos/{idCaso}/andamentos/{data}/{primeiraLeitura}/{totalAndamentosLidosPeloMobile}"
      description: Retorna um array com os andamentos do caso de acordo com o filtro informado.
      operationId: obtem-os-andamentos-do-caso
      parameters:
        - name: idCaso
          in: path
          required: true
          schema:
            type: integer
        - name: data
          in: path
          description: "Exemplo: 2021-08-18T12:00:00"
          required: true
          schema:
            type: string
        - name: primeiraLeitura
          in: path
          required: true
          schema:
            type: string
        - name: totalAndamentosLidosPeloMobile
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com os andamentos do caso de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamento"
              example:
                NrTipoClassificacaoAutomatica: 0
                NrClassificacaoAutomatica: 0
                ClassificacaoDoAndamento: string
                LancamentoPeloTimeSheetDoMobile: true
                IdAndamento: 0
                TextoAndamento: string
                TextoAndamentoContinuacao: string
                IdProcesso: 0
                DataCompetencia: {}
                DataInclusao: {}
                IdAutor: 0
                NomeAutor: string
                InUsoInterno: true
                DataRevisao: {}
                IdRevisor: 0
                NomeRevisor: string
                Situacao: 0
                InManual: true
                IdAndamentoTemplate: 0
                NovoAndamentoParaRevisao: 0
                IdAndamentoClassificacao: 0
                IdPublicacaoAndamento: 0
                Tipo: 0
                dsCodigoOriginal: string
                IsEditable: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/{idCaso}/andamentosimples":
    get:
      tags:
        - Andamentos
      summary: "/api/casos/{idCaso}/andamentosimples"
      description: Retorna um array de andamentos simples do caso informado.
      operationId: obtem-andamentos-simples-do-caso
      parameters:
        - name: idCaso
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array de andamentos simples do caso informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamentoSimples"
              example:
                NomeCliente: string
                TituloCaso: string
                NumeroInterno: string
                NumeroExterno: string
                idAndamento: 0
                Classificacao: string
                DataCompetencia: {}
                DataCompetenciaFormatada: string
                TextoAndamento: string
                IdCaso: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/num/andamentosimples:
    get:
      tags:
        - Andamentos
      summary: /api/casos/num/andamentosimples
      description: "Retorna um array de andamentos simples por caso, numero interno ou numero externo."
      operationId: obtem-andamentos-simples-por-caso-numero-interno-ou-numero-externo
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: integer
        - name: NumeroExterno
          in: query
          schema:
            type: string
        - name: IdProcesso
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Retorna um array de andamentos simples por caso, numero interno ou numero externo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamentoSimples"
              example:
                NomeCliente: string
                TituloCaso: string
                NumeroInterno: string
                NumeroExterno: string
                idAndamento: 0
                Classificacao: string
                DataCompetencia: {}
                DataCompetenciaFormatada: string
                TextoAndamento: string
                IdCaso: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/andamentos/{id}":
    get:
      tags:
        - Andamentos
      summary: "/api/andamentos/{id}"
      description: Obtém o andamento de acordo com o identificador informado.
      operationId: obtem-o-andamento
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém o andamento de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamento"
              example:
                NrTipoClassificacaoAutomatica: 0
                NrClassificacaoAutomatica: 0
                ClassificacaoDoAndamento: string
                LancamentoPeloTimeSheetDoMobile: true
                IdAndamento: 0
                TextoAndamento: string
                TextoAndamentoContinuacao: string
                IdProcesso: 0
                DataCompetencia: {}
                DataInclusao: {}
                IdAutor: 0
                NomeAutor: string
                InUsoInterno: true
                DataRevisao: {}
                IdRevisor: 0
                NomeRevisor: string
                Situacao: 0
                InManual: true
                IdAndamentoTemplate: 0
                NovoAndamentoParaRevisao: 0
                IdAndamentoClassificacao: 0
                IdPublicacaoAndamento: 0
                Tipo: 0
                dsCodigoOriginal: string
                IsEditable: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/andamentos:
    post:
      tags:
        - Andamentos
      summary: /api/andamentos
      description: Insere o andamento.
      operationId: insere-o-andamento
      requestBody:
        description: O andamento a inserir.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DTOAndamento"
            example:
              NrTipoClassificacaoAutomatica: 0
              NrClassificacaoAutomatica: 0
              ClassificacaoDoAndamento: string
              LancamentoPeloTimeSheetDoMobile: true
              IdAndamento: 0
              TextoAndamento: string
              TextoAndamentoContinuacao: string
              IdProcesso: 0
              DataCompetencia: {}
              DataInclusao: {}
              IdAutor: 0
              NomeAutor: string
              InUsoInterno: true
              DataRevisao: {}
              IdRevisor: 0
              NomeRevisor: string
              Situacao: 0
              InManual: true
              IdAndamentoTemplate: 0
              NovoAndamentoParaRevisao: 0
              IdAndamentoClassificacao: 0
              IdPublicacaoAndamento: 0
              Tipo: 0
              dsCodigoOriginal: string
              IsEditable: true
      responses:
        "200":
          description: Retorna o andamento inserido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamento"
              example:
                NrTipoClassificacaoAutomatica: 0
                NrClassificacaoAutomatica: 0
                ClassificacaoDoAndamento: string
                LancamentoPeloTimeSheetDoMobile: true
                IdAndamento: 0
                TextoAndamento: string
                TextoAndamentoContinuacao: string
                IdProcesso: 0
                DataCompetencia: {}
                DataInclusao: {}
                IdAutor: 0
                NomeAutor: string
                InUsoInterno: true
                DataRevisao: {}
                IdRevisor: 0
                NomeRevisor: string
                Situacao: 0
                InManual: true
                IdAndamentoTemplate: 0
                NovoAndamentoParaRevisao: 0
                IdAndamentoClassificacao: 0
                IdPublicacaoAndamento: 0
                Tipo: 0
                dsCodigoOriginal: string
                IsEditable: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/andamentos/{idAndamento}":
    put:
      tags:
        - Andamentos
      summary: "/api/andamentos/{idAndamento}"
      description: Atualiza o andamento.
      operationId: atualiza-o-andamento
      parameters:
        - name: idAndamento
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: O andamento a atualizar.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DTOAndamento"
            example:
              NrTipoClassificacaoAutomatica: 0
              NrClassificacaoAutomatica: 0
              ClassificacaoDoAndamento: string
              LancamentoPeloTimeSheetDoMobile: true
              IdAndamento: 0
              TextoAndamento: string
              TextoAndamentoContinuacao: string
              IdProcesso: 0
              DataCompetencia: {}
              DataInclusao: {}
              IdAutor: 0
              NomeAutor: string
              InUsoInterno: true
              DataRevisao: {}
              IdRevisor: 0
              NomeRevisor: string
              Situacao: 0
              InManual: true
              IdAndamentoTemplate: 0
              NovoAndamentoParaRevisao: 0
              IdAndamentoClassificacao: 0
              IdPublicacaoAndamento: 0
              Tipo: 0
              dsCodigoOriginal: string
              IsEditable: true
      responses:
        "200":
          description: Retorna o andamento atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOAndamento"
              example:
                NrTipoClassificacaoAutomatica: 0
                NrClassificacaoAutomatica: 0
                ClassificacaoDoAndamento: string
                LancamentoPeloTimeSheetDoMobile: true
                IdAndamento: 0
                TextoAndamento: string
                TextoAndamentoContinuacao: string
                IdProcesso: 0
                DataCompetencia: {}
                DataInclusao: {}
                IdAutor: 0
                NomeAutor: string
                InUsoInterno: true
                DataRevisao: {}
                IdRevisor: 0
                NomeRevisor: string
                Situacao: 0
                InManual: true
                IdAndamentoTemplate: 0
                NovoAndamentoParaRevisao: 0
                IdAndamentoClassificacao: 0
                IdPublicacaoAndamento: 0
                Tipo: 0
                dsCodigoOriginal: string
                IsEditable: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
    delete:
      tags:
        - Andamentos
      summary: "/api/andamentos/{idAndamento}"
      description: Exclui o andamento.
      operationId: exclui-o-andamento
      parameters:
        - name: idAndamento
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: O andamento foi excluído.
          content:
            application/json: {}
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/areas:
    get:
      tags:
        - Area
      summary: /api/areas
      description: Retorna um array com as áreas encontradas de acordo com o filtro informado.
      operationId: obtem-areas
      parameters:
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array com as áreas encontradas de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOArea"
              example:
                ID: 0
                Titulo: string
                Ativa: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/areas/porDomain/{domain}":
    get:
      tags:
        - Area
      summary: "/api/areas/porDomain/{domain}"
      description: Retorna um array com as áreas de acordo com o escritório informado.
      operationId: obtem-as-areas-por-escritorio
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array com as áreas de acordo com o escritório informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOArea"
              example:
                ID: 0
                Titulo: string
                Ativa: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/areas/{id}":
    get:
      tags:
        - Area
      summary: "/api/areas/{id}"
      description: Retorna a área de acordo com o identificador informado.
      operationId: obtem-a-area
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna a área de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOArea"
              example:
                ID: 0
                Titulo: string
                Ativa: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/busca:
    get:
      tags:
        - Busca
      summary: /api/busca
      description: Busca os clientes e casos de acordo com o termo de pesquisa
      operationId: busca-os-clientes-e-casos-de-acordo-com-o-termo-de-pesquisa
      parameters:
        - name: termo
          in: query
          description: ""
          required: true
          schema:
            type: string
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: apenasMeusCasos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Busca os clientes e casos de acordo com o termo de pesquisa.
          content:
            application/json:
              example:
                IdsClientesComCasos:
                  "100":
                    - 0
                  "200":
                    - 0
                TermoBuscado: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/busca/mobilenovo:
    get:
      tags:
        - Busca
      summary: /api/busca/mobilenovo
      description: Busca os clientes e casos de acordo com o termo de pesquisa para novo mobile.
      operationId: busca-os-clientes-e-casos-de-acordo-com-o-termo-de-pesquisa-novo-mobile
      parameters:
        - name: termo
          in: query
          description: ""
          required: true
          schema:
            type: string
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: apenasMeusCasos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Busca os clientes e casos de acordo com o termo de pesquisa.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOBuscaMobileNovo"
              example:
                IdsClientesComCasos:
                  - IDCliente: 0
                    IDCasos:
                      - 0
                TermoBuscado: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/inclui:
    post:
      tags:
        - Casos
      summary: /api/casos/inclui
      description: Inclui casos.
      operationId: inclui-casos
      requestBody:
        description: "Os casos a incluir.\nObservação: Deve-se enviar um array de processos."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DTOProcessoPreCadastro"
            example:
              idPreProcesso: 0
              idCliente: 0
              envolvimentoCliente: 0
              idResponsavel: 0
              idProcessoPai: 0
              idArea: 0
              idPasta: 0
              dsAssunto: string
              idRito: 0
              idForo: 0
              numeroSequencial: 0
              confidencial: true
              dataCriacao: {}
              dataUltimaAlteracao: {}
              classeDoProcesso: 0
              tipo: 0
              situacaoDoProcesso: 0
              tituloProcesso: string
              observacao: string
              numeroInterno: string
              idContrato: 0
              idFase: 0
              nivel: string
              numeroExterno: string
              valorCausa: 0
              valorExpectativaApuracao: 0
              valorContingencia: 0
              cnj: string
              utilizaPedidosDoProcessoPai: true
              foroTemporario: string
              comentarioExpectativaDaCausa: string
              segundoNumero: string
              anotacoesSegundoNumero: string
              dataEntrada: {}
              dataDistribuicao: {}
              hierarquia:
                - nomeItemHierarquia: string
                  grupoFamilia: 0
              coResponsaveis:
                - 0
              idProcessoNoFornecedorPush: 0
              nrFornecedorPush: 0
              partes:
                - IdParteNoLo: 0
                  nomeParte: string
                  tipoPessoa: 0
                  polo: 0
      responses:
        "200":
          description: Retorna um objeto contendo os processos cadastrados e os processos com erro (caso haja).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTORespostaCadastroProcessoPreCadastro"
              example:
                HouveException: true
                ProcessosNaoCadastrados:
                  - IdPreProcesso: 0
                    DetalheErro: string
                    NumeroExterno: string
                    NumeroSequencial: 0
                    NumeroInterno: string
                    TituloProcesso: string
                ProcessosCadastrados:
                  - idPreProcesso: 0
                    dsNumeroExterno: string
                    nrSequencia: 0
                    nrInterno: string
                    dsTitulo: string
                    dtCriacao: {}
                    IDFuncionario: 0
                    Nome: string
                    cdProcesso: 0
                    Domain: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/{idCliente}/casos":
    get:
      tags:
        - Casos
      summary: "/api/clientes/{idCliente}/casos"
      description: Retorna um array com os casos do cliente.
      operationId: obtem-os-casos-do-cliente
      parameters:
        - name: idCliente
          in: path
          description: ""
          required: true
          schema:
            type: integer
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: apenasMeusCasos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array com os casos do cliente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoSimples"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                NomeResponsavelCaso: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/{idCliente}/pastas":
    get:
      tags:
        - Casos
      summary: "/api/clientes/{idCliente}/pastas"
      description: Retorna um array com as pastas do cliente.
      operationId: obtem-as-pastas-do-cliente
      parameters:
        - name: idCliente
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com as pastas do cliente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOPasta"
              example:
                IDPasta: 0
                IDEscritorio: 0
                IDCliente: 0
                NumeroDaPasta: 0
                Assunto: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/{idCliente}/pastasDoCaso":
    get:
      tags:
        - Casos
      summary: "/api/casos/{idCliente}/pastasDoCaso"
      description: Retorna um array com as pastas do cliente (Capa).
      operationId: obtem-as-pastas-do-cliente-capa
      parameters:
        - name: idCliente
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com as pastas do cliente (Capa).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOPasta"
              example:
                IDPasta: 0
                IDEscritorio: 0
                IDCliente: 0
                NumeroDaPasta: 0
                Assunto: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/{id}":
    get:
      tags:
        - Casos
      summary: "/api/casos/{id}"
      description: Obtém caso.
      operationId: obtem-caso
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém caso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoCompleto"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
                DataDeEntrada: {}
                DataDeEntradaFormatada: string
                Observacao: string
                DataDeDistribuicao: {}
                DataDeDistribuicaoFormatada: string
                DataDeEncerramento: {}
                DataDeEncerramentoFormatada: string
                DataPrevistaDeEncerramento: {}
                DataPrevistaDeEncerramentoFormatada: string
                Tipo: 0
                Confidencial: true
                IDArea: 0
                IDFuncionarioResponsavel: 0
                IDForo: 0
                Foro: string
                IDRito: 0
                Rito: string
                IDFaseProcesso: 0
                ExpectativaDeExito: 0
                ComentarioExpectativaDaCausa: string
                IDsCoResponsaveis:
                  - 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/id/num:
    get:
      tags:
        - Casos
      summary: /api/casos/id/num
      description: "Retorna um array de casos por identificador, numero interno ou numero externo."
      operationId: obtem-caso-por-identificador-numero-interno-ou-numero-externo
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: integer
        - name: NumeroExterno
          in: query
          schema:
            type: string
        - name: IdProcesso
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Retorna um array de casos por identificador, numero interno ou numero externo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoCompleto"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
                DataDeEntrada: {}
                DataDeEntradaFormatada: string
                Observacao: string
                DataDeDistribuicao: {}
                DataDeDistribuicaoFormatada: string
                DataDeEncerramento: {}
                DataDeEncerramentoFormatada: string
                DataPrevistaDeEncerramento: {}
                DataPrevistaDeEncerramentoFormatada: string
                Tipo: 0
                Confidencial: true
                IDArea: 0
                IDFuncionarioResponsavel: 0
                IDForo: 0
                Foro: string
                IDRito: 0
                Rito: string
                IDFaseProcesso: 0
                ExpectativaDeExito: 0
                ComentarioExpectativaDaCausa: string
                IDsCoResponsaveis:
                  - 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/porIds/{ids}":
    get:
      tags:
        - Casos
      summary: "/api/casos/porIds/{ids}"
      description: Retorna um array de casos pelos identificadores.
      operationId: obtem-casos-pelo-identificador
      parameters:
        - name: ids
          in: path
          description: "Exemplo: [1, 10]"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array de casos pelos identificadores.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoSimples"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                NomeResponsavelCaso: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/num:
    get:
      tags:
        - Casos
      summary: /api/casos/num
      description: "Retorna um array com os casos obtidos pelo identificador, numero interno ou numero externo."
      operationId: obtem-casos-pelo-identificador-numero-interno-ou-numero-externo
      parameters:
        - name: IdProcesso
          in: query
          description: "Exemplo: [1, 10]"
          schema:
            type: string
        - name: NumeroInterno
          in: query
          description: "Exemplo: [2, 20]"
          schema:
            type: string
        - name: NumeroExterno
          in: query
          description: 'Exemplo: ["1.10.100", "2.20.200"].'
          schema:
            type: string
      responses:
        "200":
          description: "Retorna um array com os casos obtidos pelo identificador, numero interno ou numero externo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoSimples"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                NomeResponsavelCaso: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos:
    get:
      tags:
        - Casos
      summary: /api/casos
      description: Retorna um array com todos os casos de acordo com o filtro informado.
      operationId: obtem-todos-os-casos
      parameters:
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array com todos os casos de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoSimples"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                NomeResponsavelCaso: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/busca:
    get:
      tags:
        - Casos
      summary: /api/casos/busca
      description: Retorna um array com os casos encontrados de acordo com o filtro informado.
      operationId: busca-casos
      parameters:
        - name: termo
          in: query
          required: true
          schema:
            type: string
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array com os casos encontrados de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoSimples"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                NomeResponsavelCaso: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/RamosJudiciais:
    get:
      tags:
        - Casos
      summary: /api/casos/RamosJudiciais
      description: Obtém os ramos judiciais.
      operationId: obtem-os-ramos-judiciais
      responses:
        "200":
          description: Retorna um array com os ramos judiciais.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOEnum"
              example:
                Valor: string
                ID: 0
                Description: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/{id}/ficha":
    get:
      tags:
        - Casos
      summary: "/api/casos/{id}/ficha"
      description: Obtém a ficha do caso.
      operationId: obtem-a-ficha-do-caso
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém a ficha do caso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoFicha"
              example:
                NomeCliente: string
                Titulo: string
                NumeroInterno: string
                NumeroExterno: string
                Situacao: string
                ExpectativaDeExito: string
                NomeFilial: string
                DataDeEntrada: {}
                DataDeEntradaFormatada: string
                DataDeDistribuicao: {}
                DataDeDistribuicaoFormatada: string
                DataPrevistaDeEncerramento: {}
                DataPrevistaDeEncerramentoFormatada: string
                DataDeEncerramento: {}
                DataDeEncerramentoFormatada: string
                Foro: string
                Rito: string
                ValorCausa: 0
                ValorPrevistoCausa: 0
                ValorContingencia: 0
                IdCaso: 0
                IdFase: 0
                IdPasta: 0
                IdArea: 0
                IdResponsavel: 0
                IDsCoResponsaveis:
                  - 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/casos/id/ficha/num:
    get:
      tags:
        - Casos
      summary: /api/casos/id/ficha/num
      description: "Retorna um array de fichas de casos encontrados de acordo com o identificador, numero interno ou numero externo."
      operationId: obtem-ficha-dos-casos-por-identificador-numero-interno-ou-numero-externo
      parameters:
        - name: NumeroInterno
          in: query
          schema:
            type: integer
        - name: NumeroExterno
          in: query
          schema:
            type: string
        - name: IdProcesso
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Retorna um array de fichas de casos encontrados de acordo com o identificador, numero interno ou numero externo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoFicha"
              example:
                NomeCliente: string
                Titulo: string
                NumeroInterno: string
                NumeroExterno: string
                Situacao: string
                ExpectativaDeExito: string
                NomeFilial: string
                DataDeEntrada: {}
                DataDeEntradaFormatada: string
                DataDeDistribuicao: {}
                DataDeDistribuicaoFormatada: string
                DataPrevistaDeEncerramento: {}
                DataPrevistaDeEncerramentoFormatada: string
                DataDeEncerramento: {}
                DataDeEncerramentoFormatada: string
                Foro: string
                Rito: string
                ValorCausa: 0
                ValorPrevistoCausa: 0
                ValorContingencia: 0
                IdCaso: 0
                IdFase: 0
                IdPasta: 0
                IdArea: 0
                IdResponsavel: 0
                IDsCoResponsaveis:
                  - 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/casos/meuscasos/{cdResponsavel}":
    get:
      tags:
        - Casos
      summary: "/api/casos/meuscasos/{cdResponsavel}"
      description: Retorna um array de casos onde sou responsável.
      operationId: obtem-os-casos-onde-sou-responsavel
      parameters:
        - name: cdResponsavel
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array de casos onde sou responsável.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCasoSimples"
              example:
                IDCaso: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                NomeResponsavelCaso: string
                IDPasta: 0
                NomePasta: string
                IDContrato: 0
                NomeContrato: string
                NumeroInterno: string
                NumeroExterno: string
                NumeroLawoffice: 0
                IDCasoPai: 0
                Classe: 0
                DataDeCriacao: {}
                DataDeCriacaoFormatada: string
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/{id}/compilacao/{ok}":
    get:
      tags:
        - Sessão
      summary: "/api/{id}/compilacao/{ok}"
      description: Teste do mobileservice
      operationId: teste-com-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: ok
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resposta em todos os casos.
          content:
            application/json:
              example: O id informado foi 99 e o resultado é True
  "/api/escritorios/{IdEscritorio},{intfiltroCategoria}/categoriaspreco":
    get:
      tags:
        - Categoria
      summary: "/api/escritorios/{IdEscritorio},{intfiltroCategoria}/categoriaspreco"
      description: Retorna um array com as categorias de preço do escritório de acordo com o filtro informado.
      operationId: api-escritorios-idescritorio-intfiltrocategoria-categoriaspreco
      parameters:
        - name: IdEscritorio
          in: path
          required: true
          schema:
            type: integer
        - name: intfiltroCategoria
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com as categorias de preço do escritório de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCategoriaPreco"
              example:
                IdCategoria: 0
                IdEscritorio: 0
                NomeCategoria: string
                NumeroMoeda: 0
                NumeroSituacao: 0
                ValorHoraTrabalhada: 0
                valorHoraTrabalhadaReal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/escritorios/{IdEscritorio}/categoriaspreco":
    get:
      tags:
        - Categoria
      summary: "/api/escritorios/{IdEscritorio}/categoriaspreco"
      description: Retorna um array com as categorias de preço do escritório.
      operationId: api-escritorios-idescritorio-categoriaspreco
      parameters:
        - name: IdEscritorio
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com as categorias de preço do escritório.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCategoriaPreco"
              example:
                IdCategoria: 0
                IdEscritorio: 0
                NomeCategoria: string
                NumeroMoeda: 0
                NumeroSituacao: 0
                ValorHoraTrabalhada: 0
                valorHoraTrabalhadaReal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/funcionarios/{IdsMin},{IdsMax}/categorias":
    get:
      tags:
        - Categoria
      summary: "/api/funcionarios/{IdsMin},{IdsMax}/categorias"
      description: Retorna um array com as categorias de funcionário de acordo com o filtro informado.
      operationId: api-funcionarios-idsmin-idsmax-categorias
      parameters:
        - name: IdsMin
          in: path
          required: true
          schema:
            type: integer
        - name: IdsMax
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Retorna um array com as categorias de funcionário de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCategoriaFuncionario"
              example:
                IdFuncionario: 0
                IdCategoria: 0
                DataInicio: {}
                DataLancamento: {}
                NomeFuncionario: string
                NomeFuncionarioTransacao: string
                NomeCategoria: string
                NomeResponsavel: string
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/clientes/todos:
    get:
      tags:
        - Cliente
      summary: /api/clientes/todos
      description: Retorna um array com todos os clientes.
      operationId: api-clientes-todos
      responses:
        "200":
          description: Retorna um array com todos os clientes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/porDomain/{domain}":
    get:
      tags:
        - Cliente
      summary: "/api/clientes/porDomain/{domain}"
      description: Retorna um array com todos os clientes de acordo com o escritório informado.
      operationId: api-clientes-pordomain-domain
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retorna um array com todos os clientes de acordo com o escritório informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/clientes/ficha:
    get:
      tags:
        - Cliente
      summary: /api/clientes/ficha
      description: Obtém a ficha do cliente de acordo com o identificador informado.
      operationId: api-clientes-ficha
      parameters:
        - name: idCliente
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém a ficha do cliente de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/clientes/ficha_mobile:
    get:
      tags:
        - Cliente
      summary: /api/clientes/ficha_mobile
      description: Obtém a ficha do cliente para o mobile de acordo com o identificador informado.
      operationId: api-clientes-ficha-mobile
      parameters:
        - name: idCliente
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém a ficha do cliente para o mobile de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOClienteMobile"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
                inTemLEDES: true
                inNecessitaDeSolicitanteParaLancamentoDeHoras: true
                Status: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/clientes:
    get:
      tags:
        - Cliente
      summary: /api/clientes
      description: Obtém um array com os clientes de acordo com o filtro informado.
      operationId: api-clientes
      parameters:
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: apenasMeusCasos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: clientesSemCasos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Obtém um array com os clientes de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/clientes/enderecos:
    get:
      tags:
        - Cliente
      summary: /api/clientes/enderecos
      description: Obtém um array com os endereços dos clientes.
      operationId: api-clientes-enderecos
      responses:
        "200":
          description: Obtém um array com os endereços dos clientes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOEnderecoCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/clientes/mobile:
    get:
      tags:
        - Cliente
      summary: /api/clientes/mobile
      description: Obtém um array com os clientes para o mobile de acordo com o filtro informado.
      operationId: api-clientes-mobile
      parameters:
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: apenasMeusCasos
          in: query
          description: "Default: false"
          schema:
            type: string
        - name: clientesSemCasos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Obtém um array com os clientes para o mobile de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOClienteMobile"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
                inTemLEDES: true
                inNecessitaDeSolicitanteParaLancamentoDeHoras: true
                Status: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/{id}":
    get:
      tags:
        - Cliente
      summary: "/api/clientes/{id}"
      description: Obtém o cliente de acordo com o identificador informado.
      operationId: api-clientes-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém o cliente de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/porIds/{idsClientes}":
    get:
      tags:
        - Cliente
      summary: "/api/clientes/porIds/{idsClientes}"
      description: Obtém um array com os clientes de acordo com os identificadores informados.
      operationId: api-clientes-porids-idsclientes
      parameters:
        - name: idsClientes
          in: path
          description: "Exemplo: [1, 15]"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Obtém um array com os clientes de acordo com os identificadores informados.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOCliente"
              example:
                IDCliente: 0
                NumeroDoCliente: 0
                Nome: string
                Apelido: string
                Tipo: 0
                Email: string
                Situacao: 0
                MotivoInativacao: string
                WebSite: string
                Observacoes: string
                CPFCNPJ: string
                TratoConfidencial: true
                InscricaoMunicipal: string
                DataCriacao: {}
                Estrangeiro: true
                InscricaoEstadual: string
                Idioma: string
                TipoEndereco: 0
                Logradouro: string
                Numero: string
                Complemento: string
                Bairro: string
                Cidade: string
                Estado: string
                CEP: string
                Pais: string
                EnderecoPrincipal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/ContaDeAcesso/ObtemContaDeAcesso:
    get:
      tags:
        - ContaDeAcesso
      summary: /api/ContaDeAcesso/ObtemContaDeAcesso
      description: Obtém a conta de acesso de acordo com o usuário e escritório.
      operationId: api-contadeacesso-obtemcontadeacesso
      parameters:
        - name: nomeUsuario
          in: query
          required: true
          schema:
            type: string
        - name: domain
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Obtém a conta de acesso de acordo com o usuário e escritório.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContaDeAcesso"
              example:
                IDFuncionario: 0
                Conta: string
                IsPrimeiroAcesso: true
                IsOldPassword: true
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/contatos/{id}":
    get:
      tags:
        - Contato
      summary: "/api/contatos/{id}"
      description: Obtém o contato de acordo com o identificador informado.
      operationId: api-contatos-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém o contato de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContato"
              example:
                IDContato: 0
                IDCliente: 0
                Nome: string
                Email: string
                Cargo: string
                CodigoPais: 0
                DDD: 0
                Telefone: 0
                Ramal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/contatos:
    get:
      tags:
        - Contato
      summary: /api/contatos
      description: Obtém um array com os contatos.
      operationId: api-contatos
      responses:
        "200":
          description: Obtém um array com os contatos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContato"
              example:
                IDContato: 0
                IDCliente: 0
                Nome: string
                Email: string
                Cargo: string
                CodigoPais: 0
                DDD: 0
                Telefone: 0
                Ramal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/{idCliente}/contatos":
    get:
      tags:
        - Contato
      summary: "/api/clientes/{idCliente}/contatos"
      description: Obtém um array com os contatos do cliente de acordo com o identificador do cliente informado.
      operationId: api-clientes-idcliente-contatos
      parameters:
        - name: idCliente
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém um array com os contatos do cliente de acordo com o identificador do cliente informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContato"
              example:
                IDContato: 0
                IDCliente: 0
                Nome: string
                Email: string
                Cargo: string
                CodigoPais: 0
                DDD: 0
                Telefone: 0
                Ramal: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  /api/contatos/solicitantes:
    get:
      tags:
        - Contato
      summary: /api/contatos/solicitantes
      description: Obtém um array com os solicitantes do cliente de acordo com o identificador do cliente informado.
      operationId: api-contatos-solicitantes
      parameters:
        - name: codCliente
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém um array com os solicitantes do cliente de acordo com o identificador do cliente informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOSolicitante"
              example:
                DsNome: string
                CdSolicitante: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/contratos/{id}":
    get:
      tags:
        - Contrato
      summary: "/api/contratos/{id}"
      description: Obtém o contrato de acordo com o identificador informado.
      operationId: api-contratos-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Obtém o contrato de acordo com o identificador informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContrato"
              example:
                IDContrato: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                Observacao: string
                DataInicio: {}
                DataPrevisaoEncerramento: {}
                DataEncerramento: {}
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/clientes/{idCliente}/contratos":
    get:
      tags:
        - Contrato
      summary: "/api/clientes/{idCliente}/contratos"
      description: Obtém um array com os contratos do cliente de acordo com o filtro informado.
      operationId: api-clientes-idcliente-contratos
      parameters:
        - name: idCliente
          in: path
          required: true
          schema:
            type: integer
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Obtém um array com os contratos do cliente de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContrato"
              example:
                IDContrato: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                Observacao: string
                DataInicio: {}
                DataPrevisaoEncerramento: {}
                DataEncerramento: {}
                Situacao: 0
        "401":
          description: Em caso de erro de timeout ou sessão expirada.
          content:
            application/json: {}
        "500":
          description: Em caso de erro diferente de timeout ou sessão expirada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro_interno_no_servidor"
              example:
                Message: string
                ExceptionMessage: string
                ExceptionType: string
                StackTrace: string
  "/api/contratos/{idCliente}/contratosCliente":
    get:
      tags:
        - Contrato
      summary: "/api/contratos/{idCliente}/contratosCliente"
      description: Obtém um array com os contratos do cliente de acordo com o filtro informado.
      operationId: api-contratos-idcliente-contratoscliente
      parameters:
        - name: idCliente
          in: path
          required: true
          schema:
            type: integer
        - name: ativos
          in: query
          description: "Default: true"
          schema:
            type: string
        - name: inativos
          in: query
          description: "Default: false"
          schema:
            type: string
      responses:
        "200":
          description: Obtém um array com os contratos do cliente de acordo com o filtro informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTOContrato"
              example:
                IDContrato: 0
                Titulo: string
                IDCliente: 0
                NomeCliente: string
                Observacao: string
                DataInicio: {}
                DataPrevisaoEncerramento: {}
                DataEncerramento: {}
                Situacao: 0
        "401":
[...]
